Repository ttalkak/server: changes, and which Jenkins stages are due for each by the changed paths.
All: Test Deployment Service, Test Project Service, documentation, Build and Deploy Eureka Server, Build and Deploy Config Server, Build and Deploy Notification Server, Build and Deploy Gateway Service, Build and Deploy User Service, Build and Deploy Compute Service, Build and Deploy Deployment Service, Build and Deploy Project Service

Path conditions:
  Test Deployment Service: any of: deployment-service/**
  Test Project Service: any of: project-service/**
  documentation: (any of: deployment-service/**) or (any of: project-service/**)
  Build and Deploy Eureka Server: any of: eureka-server/**
  Build and Deploy Config Server: any of: config-server/**
  Build and Deploy Notification Server: any of: notification-service/**
  Build and Deploy Gateway Service: any of: gateway-service/**
  Build and Deploy User Service: any of: user-service/**
  Build and Deploy Compute Service: any of: compute-service/**
  Build and Deploy Deployment Service: any of: deployment-service/**
  Build and Deploy Project Service: any of: project-service/**

이메일 인증 로직 수정
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/RunningStatus.kt
  notification-service/src/main/kotlin/com/ttalkak/notification/notification/adapter/in/web/EmailController.kt
  notification-service/src/main/kotlin/com/ttalkak/notification/notification/adapter/in/web/request/EmailConfirmRequest.kt
  notification-service/src/main/kotlin/com/ttalkak/notification/notification/application/port/in/ConfirmCodeUseCase.kt
  notification-service/src/main/kotlin/com/ttalkak/notification/notification/application/service/EmailService.kt
  notification-service/src/main/kotlin/com/ttalkak/notification/notification/domain/EmailConfirmEvent.kt
  user-service/src/main/java/com/ttalkak/user/user/adapter/in/security/response/GithubResponse.java
  user-service/src/main/java/com/ttalkak/user/user/adapter/in/stream/KafkaUserListener.java
  user-service/src/main/java/com/ttalkak/user/user/adapter/in/stream/request/EmailVerifyRequest.java
  user-service/src/main/java/com/ttalkak/user/user/adapter/out/persistence/UserPersistenceAdapter.java
  user-service/src/main/java/com/ttalkak/user/user/adapter/out/persistence/repository/UserJpaRepository.java
  user-service/src/main/java/com/ttalkak/user/user/application/port/in/UserEmailVerifyUseCase.java
  user-service/src/main/java/com/ttalkak/user/user/application/port/out/VerifyEmailUserPort.java
  user-service/src/main/java/com/ttalkak/user/user/application/service/AuthenticationService.java
Due: Build and Deploy Notification Server, Build and Deploy User Service, Build and Deploy Compute Service

feat : project expirationDate 데이터 추가
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/WebHookDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/event/CreateInstanceEvent.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/projectadapter/dto/ProjectInfoResponse.java
  docs/index.yaml
  project-service/src/main/java/com/ttalkak/project/project/application/inputport/CreateProjectInputPort.java
  project-service/src/main/java/com/ttalkak/project/project/application/inputport/DeleteProjectInputPort.java
  project-service/src/main/java/com/ttalkak/project/project/application/inputport/GetProjectInputPort.java
  project-service/src/main/java/com/ttalkak/project/project/application/inputport/UpdateProjectInputPort.java
  project-service/src/main/java/com/ttalkak/project/project/application/usecase/CreateProjectUseCase.java
  project-service/src/main/java/com/ttalkak/project/project/application/usecase/DeleteProjectUseCase.java
  project-service/src/main/java/com/ttalkak/project/project/application/usecase/GetProjectUseCase.java
  project-service/src/main/java/com/ttalkak/project/project/application/usecase/ListProjectUseCase.java
  project-service/src/main/java/com/ttalkak/project/project/application/usecase/UpdateProjectUseCase.java
  project-service/src/main/java/com/ttalkak/project/project/application/usercase/ListProjectUseCase.java
  project-service/src/main/java/com/ttalkak/project/project/domain/model/ProjectEntity.java
  project-service/src/main/java/com/ttalkak/project/project/framework/kafka/DeleteTransactionConsumer.java
  project-service/src/main/java/com/ttalkak/project/project/framework/kafka/SagaRollBackDomainNameConsumer.java
  project-service/src/main/java/com/ttalkak/project/project/framework/web/ProjectController.java
  project-service/src/main/java/com/ttalkak/project/project/framework/web/ProjectFeignController.java
  project-service/src/main/java/com/ttalkak/project/project/framework/web/request/ProjectCreateRequest.java
  project-service/src/main/java/com/ttalkak/project/project/framework/web/response/ProjectCreateResponse.java
  project-service/src/main/java/com/ttalkak/project/project/framework/web/response/ProjectResponse.java
  project-service/src/test/java/com/ttalkak/project/project/config/RestDocsUtils.java
  project-service/src/test/java/com/ttalkak/project/project/framework/web/ProjectControllerTest.java
Due: Test Deployment Service, Test Project Service, documentation, Build and Deploy Deployment Service, Build and Deploy Project Service

test : project Test코드 수정
  project-service/src/test/java/com/ttalkak/project/project/config/RestDocsUtils.java
  project-service/src/test/java/com/ttalkak/project/project/framework/web/ProjectControllerTest.java
Due: Test Project Service, documentation, Build and Deploy Project Service

fix
  project-service/src/test/java/com/ttalkak/project/project/framework/web/ProjectControllerTest.java
Due: Test Project Service, documentation, Build and Deploy Project Service

fix : Project update 수정
  project-service/src/main/java/com/ttalkak/project/project/application/inputport/UpdateProjectInputPort.java
  project-service/src/main/java/com/ttalkak/project/project/domain/model/ProjectEntity.java
  project-service/src/main/java/com/ttalkak/project/project/domain/model/vo/ProjectEditor.java
  project-service/src/main/java/com/ttalkak/project/project/framework/web/request/ProjectUpdateRequest.java
  project-service/src/test/java/com/ttalkak/project/project/framework/web/ProjectControllerTest.java
Due: Test Project Service, documentation, Build and Deploy Project Service

유저 테스트 추가
  Jenkinsfile
  user-service/build.gradle
  user-service/src/main/java/com/ttalkak/user/user/domain/ApiResponse.java
  user-service/src/test/java/com/ttalkak/user/common/RestDocsSupport.java
  user-service/src/test/java/com/ttalkak/user/config/RestDocsConfig.java
  user-service/src/test/java/com/ttalkak/user/user/adapter/in/web/AuthControllerTest.java
  user-service/src/test/java/com/ttalkak/user/user/adapter/in/web/UserControllerTest.java
  user-service/src/test/resources/application.yml
  user-service/src/test/resources/logback-test.xml
Due: Build and Deploy User Service

유저 서비스 수정
  Jenkinsfile
  user-service/src/main/resources/logback-spring.xml
Due: Build and Deploy User Service

Jenkins 파일 수정
  Jenkinsfile
  user-service/src/main/java/com/ttalkak/user/user/adapter/in/security/response/GithubResponse.java
Due: Build and Deploy User Service

젠킨스 재빌드
  project-service/src/test/java/com/ttalkak/project/project/framework/web/ProjectControllerTest.java
Due: Test Project Service, documentation, Build and Deploy Project Service

프로젝트 다시 빌드
  project-service/src/main/java/com/ttalkak/project/project/framework/kafka/DeleteTransactionConsumer.java
Due: Test Project Service, documentation, Build and Deploy Project Service

fix : expirationDate 수정
  project-service/src/main/java/com/ttalkak/project/project/domain/model/ProjectEntity.java
Due: Test Project Service, documentation, Build and Deploy Project Service

유저 생성 로직 수정
  user-service/src/main/java/com/ttalkak/user/user/application/service/CustomOAuth2UserService.java
Due: Build and Deploy User Service

유저 로직 수정
  user-service/src/main/java/com/ttalkak/user/user/application/service/CustomOAuth2UserService.java
Due: Build and Deploy User Service

gateway CORS 추가
  gateway-service/src/main/java/com/ttalkak/gateway/config/CorsConfig.java
Due: Build and Deploy Gateway Service

API 문서화 수정
  deployment-service/build.gradle
  project-service/build.gradle
  user-service/build.gradle
Due: Test Deployment Service, Test Project Service, documentation, Build and Deploy User Service, Build and Deploy Deployment Service, Build and Deploy Project Service

elasticsearch 기능 구현
  gateway-service/src/main/resources/application.yml
  project-service/build.gradle
  project-service/src/main/java/com/ttalkak/project/config/ElasticsearchConfig.java
  project-service/src/main/java/com/ttalkak/project/project/application/inputport/GetElasticSearchInputPort.java
  project-service/src/main/java/com/ttalkak/project/project/application/outputport/LoadElasticSearchOutputPort.java
  project-service/src/main/java/com/ttalkak/project/project/application/usecase/GetDeploymetLogUseCase.java
  project-service/src/main/java/com/ttalkak/project/project/application/usecase/GetElasticSearchUseCase.java
  project-service/src/main/java/com/ttalkak/project/project/domain/model/LogEntryDocument.java
  project-service/src/main/java/com/ttalkak/project/project/framework/elasticsearchadpter/adapter/ProjectElasticAdapter.java
  project-service/src/main/java/com/ttalkak/project/project/framework/jpaadapter/adapter/ProjectPersistenceAdapter.java
  project-service/src/main/java/com/ttalkak/project/project/framework/jpaadapter/repository/LogRepository.java
  project-service/src/main/java/com/ttalkak/project/project/framework/web/ElasticSearchController.java
  project-service/src/main/java/com/ttalkak/project/project/framework/web/request/SearchLogRequest.java
  project-service/src/main/java/com/ttalkak/project/project/framework/web/response/LogPageResponse.java
  project-service/src/main/java/com/ttalkak/project/project/framework/web/response/LogResponse.java
  project-service/src/main/resources/application.yml
Due: Test Project Service, documentation, Build and Deploy Gateway Service, Build and Deploy Project Service

elasticsearch 기능 구현
  project-service/src/main/java/com/ttalkak/project/project/application/inputport/GetElasticSearchInputPort.java
  project-service/src/main/java/com/ttalkak/project/project/framework/web/ElasticSearchController.java
Due: Test Project Service, documentation, Build and Deploy Project Service

이메일 인증 성공
  notification-service/src/main/kotlin/com/ttalkak/notification/config/AsyncConfig.kt
  notification-service/src/main/kotlin/com/ttalkak/notification/notification/adapter/out/stream/EmailEventKafkaProducer.kt
Due: Build and Deploy Notification Server

user 트랜잭션 추가
  user-service/src/main/java/com/ttalkak/user/user/application/service/AuthenticationService.java
Due: Build and Deploy User Service

response 추가
  notification-service/src/main/kotlin/com/ttalkak/notification/notification/adapter/in/web/EmailController.kt
  notification-service/src/main/kotlin/com/ttalkak/notification/notification/domain/ApiResponse.kt
Due: Build and Deploy Notification Server

elasticsearch 집계함수 기능 구현
  project-service/src/main/java/com/ttalkak/project/project/application/inputport/GetElasticSearchInputPort.java
  project-service/src/main/java/com/ttalkak/project/project/application/outputport/LoadElasticSearchOutputPort.java
  project-service/src/main/java/com/ttalkak/project/project/application/usecase/GetElasticSearchUseCase.java
  project-service/src/main/java/com/ttalkak/project/project/framework/elasticsearchadpter/adapter/ProjectElasticAdapter.java
  project-service/src/main/java/com/ttalkak/project/project/framework/web/ElasticSearchController.java
  project-service/src/main/java/com/ttalkak/project/project/framework/web/response/LogPageResponse.java
  project-service/src/main/java/com/ttalkak/project/project/framework/web/response/LogResponse.java
Due: Test Project Service, documentation, Build and Deploy Project Service

deployment log
  .github/workflows/sync-action.yml
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/InquiryInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/jpaadapter/repository/DeploymentRepository.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/response/DeploymentPreviewResponse.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

logging
  project-service/src/main/java/com/ttalkak/project/project/application/inputport/GetProjectInputPort.java
Due: Test Project Service, documentation, Build and Deploy Project Service

compute 서버 수정
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/ComputeCreateSocketListener.kt
  notification-service/src/main/kotlin/com/ttalkak/notification/notification/adapter/in/web/EmailController.kt
Due: Build and Deploy Notification Server, Build and Deploy Compute Service

refactor : Project Response 분리
  project-service/src/main/java/com/ttalkak/project/project/application/inputport/GetProjectInputPort.java
  project-service/src/main/java/com/ttalkak/project/project/application/inputport/UpdateProjectInputPort.java
  project-service/src/main/java/com/ttalkak/project/project/application/outputport/LoadProjectOutputPort.java
  project-service/src/main/java/com/ttalkak/project/project/application/usecase/GetProjectUseCase.java
  project-service/src/main/java/com/ttalkak/project/project/application/usecase/UpdateProjectUseCase.java
  project-service/src/main/java/com/ttalkak/project/project/framework/jpaadapter/adapter/ProjectPersistenceAdapter.java
  project-service/src/main/java/com/ttalkak/project/project/framework/web/ProjectController.java
  project-service/src/main/java/com/ttalkak/project/project/framework/web/ProjectFeignController.java
  project-service/src/main/java/com/ttalkak/project/project/framework/web/response/ProjectDetailResponse.java
  project-service/src/main/java/com/ttalkak/project/project/framework/web/response/ProjectPageResponse.java
  project-service/src/main/java/com/ttalkak/project/project/framework/web/response/ProjectSearchResponse.java
  project-service/src/test/java/com/ttalkak/project/project/framework/web/ProjectControllerTest.java
Due: Test Project Service, documentation, Build and Deploy Project Service

test : 프로젝트 페이징 조회 Response 분리
  project-service/src/test/java/com/ttalkak/project/project/config/RestDocsUtils.java
  project-service/src/test/java/com/ttalkak/project/project/framework/web/ProjectControllerTest.java
Due: Test Project Service, documentation, Build and Deploy Project Service

github action test
  .github/workflows/sync-action.yml
Due: none

github action test
  project-service/.gitignore
Due: Test Project Service, documentation, Build and Deploy Project Service

Delete .DS_Store
  .DS_Store
Due: none

Update .gitignore
  .gitignore
Due: none
