Repository ttalkak/server: changes, and which Jenkins stages are due for each by the changed paths.
All: Test User Service, Test Deployment Service, Test Project Service, documentation, Build and Deploy Eureka Server, Build and Deploy Config Server, Build and Deploy Notification Server, Build and Deploy Gateway Service, Build and Deploy User Service, Build and Deploy Compute Service, Build and Deploy Deployment Service, Build and Deploy Project Service

Path conditions:
  Test User Service: any of: user-service/**
  Test Deployment Service: any of: deployment-service/**
  Test Project Service: any of: project-service/**
  documentation: ((any of: deployment-service/**) or (any of: project-service/**)) or (any of: user-service/**)
  Build and Deploy Eureka Server: any of: eureka-server/**
  Build and Deploy Config Server: any of: config-server/**
  Build and Deploy Notification Server: any of: notification-service/**
  Build and Deploy Gateway Service: any of: gateway-service/**
  Build and Deploy User Service: any of: user-service/**
  Build and Deploy Compute Service: any of: compute-service/**
  Build and Deploy Deployment Service: any of: deployment-service/**
  Build and Deploy Project Service: any of: project-service/**

refactor : BaseEntity 수정
  deployment-service/src/main/java/com/ttalkak/deployment/common/BaseEntity.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

feat : Kafka database 필드값 수정 + DeploymentStatus -> Status 로 변경
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CommandDeploymentStatusInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/DeleteDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/InquiryInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDeploymentStatusInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/WebHookDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/event/CreateDatabaseEvent.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/DatabaseEntity.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/DeploymentEntity.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/vo/Status.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/DeploymentUpdateStatusRequest.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/response/DatabaseResponse.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/response/DeploymentDetailResponse.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/response/DeploymentPreviewResponse.java
  deployment-service/src/test/java/com/ttalkak/deployment/deployment/framework/web/DeploymentControllerTest.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

도커 데이터베이스 버전 업데이트
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/DatabaseCreateSocketListener.kt
Due: Build and Deploy Compute Service

전체 타임존 설정
  compute-service/src/main/kotlin/com/ttalkak/compute/ComputeServiceApplication.kt
  deployment-service/src/main/java/com/ttalkak/deployment/DeploymentServiceApplication.java
  notification-service/src/main/kotlin/com/ttalkak/notification/NotificationServiceApplication.kt
  project-service/src/main/java/com/ttalkak/project/ProjectServiceApplication.java
  user-service/src/main/java/com/ttalkak/user/UserServiceApplication.java
Due: Test User Service, Test Deployment Service, Test Project Service, documentation, Build and Deploy Notification Server, Build and Deploy User Service, Build and Deploy Compute Service, Build and Deploy Deployment Service, Build and Deploy Project Service

deployment 서버 수정
  deployment-service/src/main/java/com/ttalkak/deployment/DeploymentServiceApplication.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

feat : 앱에서 Database 상태 변경 처리
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDatabaseStatusInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/UpdateDatabaseStatusUseCase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/DatabaseEntity.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/kafka/ChangeDatabaseStatusConsumer.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/kafka/ChangeDeploymentStatusConsumer.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/DatabaseUpdateStatusRequest.java
  deployment-service/src/main/resources/application.yml
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

feat : databaseEntity databaseStatus 추가
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/DatabaseEntity.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

fix : databaseStatus 수정
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/DatabaseEntity.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

컨트랙트 서버 수정
  contract-service/package-lock.json
  contract-service/package.json
  contract-service/prisma/schema.prisma
  contract-service/src/payment/payment.controller.ts
  contract-service/src/payment/payment.service.ts
Due: none

feat : 데이터베이스 검색조회시 searchKeyword 포함되지 않아도 되게끔 처리
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/InquiryInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/DeploymentController.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

feat : Database statusMessage 반환하도록 수정, Database Response (Preview, Detail) 분리
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDatabaseInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/InquiryInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDatabaseStatusInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/CreateDatabaseUseCase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/inquiryUseCase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/DeploymentController.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/response/DatabaseDetailResponse.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/response/DatabasePageResponse.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/response/DatabasePreviewResponse.java
  deployment-service/src/test/java/com/ttalkak/deployment/deployment/framework/web/DeploymentControllerTest.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

fix : 인스턴스 생성 시 userId 반환하도록 수정
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/DeleteDatabaseInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDatabaseStatusInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDeploymentStatusInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/WebHookDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/event/CreateInstanceEvent.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/event/DeleteDatabaseEvent.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/kafka/DeleteEventProducer.java
  deployment-service/src/main/resources/application.yml
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

fix : userId -> senderId 반환하도록 수정
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDatabaseInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDatabaseStatusInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/event/CreateDatabaseEvent.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/event/CreateInstanceEvent.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/event/DeleteDatabaseEvent.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

fix : Database 상태 변경
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDatabaseInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/DatabaseEntity.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

fix : Database 삭제되었을 때 상태변경하려 할 때 처리
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDatabaseStatusInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDeploymentStatusInputPort.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

결제 모듈 연동 완료 - 실제 송금 부분 테스트 필요
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/UpdateComputeStatusEvent.kt
  contract-service/.env.production
  contract-service/contracts/build/contracts/Context.json
  contract-service/contracts/build/contracts/IERC1155Errors.json
  contract-service/contracts/build/contracts/IERC20Errors.json
  contract-service/contracts/build/contracts/IERC721Errors.json
  contract-service/contracts/build/contracts/PaymentContract.json
  contract-service/contracts/truffle-config.js
  contract-service/prisma/schema.prisma
  contract-service/src/common/exception/error.code.ts
  contract-service/src/contracts/PaymentContract.d.ts
  contract-service/src/payment/payment.controller.ts
  contract-service/src/payment/payment.service.ts
Due: Build and Deploy Compute Service

전체 서비스 타입 추가
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/socket/ComputeSocketController.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/socket/request/DeploymentStatusRequest.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/ComputeUpdateSocketListener.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/ComputeCachePersistenceAdapter.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/DeploymentCachePersistenceAdapter.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/repository/DeploymentCacheRepository.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/repository/RunningCacheRepository.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/in/DeploymentCommand.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/in/LoadRunningUseCase.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/out/LoadRunningPort.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/out/RemoveDeploymentStatusPort.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/out/RemoveRunningPort.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/out/SaveDeploymentStatusPort.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/out/SaveRunningPort.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/ComputeService.kt
  contract-service/contracts/build/contracts/ERC165.json
  contract-service/contracts/build/contracts/ERC721.json
  contract-service/contracts/build/contracts/ERC721URIStorage.json
  contract-service/contracts/build/contracts/IERC165.json
  contract-service/contracts/build/contracts/IERC20.json
  contract-service/contracts/build/contracts/IERC4906.json
  contract-service/contracts/build/contracts/IERC721.json
  contract-service/contracts/build/contracts/IERC721Metadata.json
  contract-service/contracts/build/contracts/IERC721Receiver.json
  contract-service/contracts/build/contracts/Math.json
  contract-service/contracts/build/contracts/SignedMath.json
  contract-service/contracts/build/contracts/SourceCodeToken.json
  contract-service/contracts/build/contracts/Strings.json
  contract-service/src/contracts/PaymentContract.json
Due: Build and Deploy Compute Service

데이터베이스 컨테이너 이름 수정
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/DatabaseCreateSocketListener.kt
Due: Build and Deploy Compute Service

log
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDeploymentStatusInputPort.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

fix : Webhook으로 인한 버전 생성, 삭제오류 수정
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/InquiryInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/WebHookDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/jpaadapter/adapter/DeploymentAdapter.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/jpaadapter/repository/DeploymentRepository.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/DeploymentUpdateStatusRequest.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

fix
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/DeploymentUpdateStatusRequest.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

fix : 배포 상태, 상태메시지 관리
  .idea/workspace.xml
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDatabaseStatusInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDeploymentStatusInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/DatabaseEntity.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/DeploymentEntity.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/DeploymentCommandStatusRequest.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

컴퓨터 서버 senderId 추가 및 회원가입 시 address 입력 추가
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/socket/ComputeSocketController.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/socket/request/ComputeRunningRequest.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/ComputeCreateSocketListener.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/ComputeUpdateSocketListener.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/KafkaComputeListener.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/web/ComputeController.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/ComputeAllocateCachePersistence.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/entity/ComputeAllocateCache.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/feign/ContractFeignClient.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/feign/request/ContractSignRequest.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/persistence/StatusPersistenceAdapter.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/persistence/entity/StatusEntity.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/persistence/entity/StatusMapper.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/in/AddComputeCommand.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/in/ContractSignUseCase.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/in/StatusCommand.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/in/UpdateStatusUseCase.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/out/CreateAllocatePort.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/out/SaveStatusPort.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/AllocateService.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/ContractService.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/StatusService.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/ComputeCreate.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/ComputeCreateEvent.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/UserCreateEvent.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/UserStatus.kt
  contract-service/src/payment/payment.controller.ts
  user-service/src/main/java/com/ttalkak/user/user/adapter/in/web/AuthController.java
  user-service/src/main/java/com/ttalkak/user/user/adapter/in/web/request/SignUpRequest.java
  user-service/src/main/java/com/ttalkak/user/user/application/port/in/RegisterCommand.java
  user-service/src/main/java/com/ttalkak/user/user/application/service/AuthenticationService.java
  user-service/src/main/java/com/ttalkak/user/user/application/service/CustomOAuth2UserService.java
  user-service/src/main/java/com/ttalkak/user/user/domain/UserCreateEvent.java
Due: Test User Service, documentation, Build and Deploy User Service, Build and Deploy Compute Service

데이터베이스 생성 senderId 추가
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/DatabaseCreateSocketListener.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/AllocateService.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/ComputeCreate.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/DatabaseCreateEvent.kt
Due: Build and Deploy Compute Service

feat : 데이터베이스 상태변경 기능 추가
  .idea/workspace.xml
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CommandDatabaseStatusInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CommandDeploymentStatusInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/DeleteDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/CommandDatabaseStatusUseCase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/event/UpdateDatabaseStatusEvent.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/DatabaseEntity.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/kafka/ChangeDatabaseStatusProducer.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/kafka/ChangeDeploymentStatusProducer.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/DeploymentController.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/DatabaseCommandStatusRequest.java
  deployment-service/src/main/resources/application.yml
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

상태 변경 추가
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/ComputeCreateSocketListener.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/ComputeUpdateSocketListener.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/KafkaComputeListener.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/ComputeCreateEvent.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/UpdateComputeStatusEvent.kt
Due: Build and Deploy Compute Service

contract 코드 수정
  contract-service/package.json
Due: none

contract CORS 허용
  contract-service/src/main.ts
Due: none

fix : 상태변경 OpenFeign API 요청 수정
  .idea/workspace.xml
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CommandDatabaseStatusInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CommandDeploymentStatusInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/DeleteDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDatabaseStatusInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDeploymentStatusInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/UpdateDatabaseStatusUseCase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/UpdateDeploymentStatusUseCase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/event/UpdateDatabaseStatusEvent.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/event/UpdateDeploymentStatusEvent.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/vo/ServiceType.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/kafka/ChangeDatabaseStatusConsumer.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/kafka/ChangeDatabaseStatusProducer.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/kafka/ChangeDeploymentStatusConsumer.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/kafka/ChangeDeploymentStatusProducer.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/DeploymentFeignController.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/UpdateStatusRequest.java
  deployment-service/src/main/resources/application.yml
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

유저 서비스 테스트 수정
  compute-service/src/main/kotlin/com/ttalkak/compute/common/util/LogCreator.kt
  user-service/src/test/java/com/ttalkak/user/user/adapter/in/web/AuthControllerTest.java
Due: Test User Service, documentation, Build and Deploy User Service, Build and Deploy Compute Service

생성 요청 수정
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/ContractService.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/UserStatus.kt
Due: Build and Deploy Compute Service

fix : DbName 추가
  .idea/workspace.xml
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDatabaseInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/event/DatabaseEvent.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/DatabaseEntity.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

fix : DbName 추가
  .idea/workspace.xml
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDatabaseStatusInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/DatabaseEntity.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

fix : DbName 반환하도록 수정
  .idea/workspace.xml
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDatabaseInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDatabaseStatusInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/event/DatabaseEvent.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/DatabaseEntity.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/response/DatabaseDetailResponse.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

생성 요청 수정
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/KafkaComputeListener.kt
Due: Build and Deploy Compute Service

fix : 배포 dbName, username, password 랜덤 생성 객체로 만들어서 책임 분리
  .idea/workspace.xml
  deployment-service/src/main/java/com/ttalkak/deployment/common/RandomGenerator.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/DatabaseEntity.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

test
  .idea/workspace.xml
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/HostingEntity.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

로컬 캐싱 기능 추가
  project-service/build.gradle
  project-service/src/main/java/com/ttalkak/project/config/CachingConfig.java
  project-service/src/main/java/com/ttalkak/project/project/framework/jpaadapter/adapter/ProjectPersistenceAdapter.java
  project-service/src/main/java/com/ttalkak/project/project/framework/web/ProjectController.java
  project-service/src/main/resources/application.yml
  project-service/src/main/resources/ehcache.xml
Due: Test Project Service, documentation, Build and Deploy Project Service

fix : 상태, 상태메시지 동기화 처리
  .idea/workspace.xml
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDatabaseStatusInputPort.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

fix : 실행 중 삭제되었을 떄, 실행되었다는 메시지가 날라온 경우 삭제되었다는 것을 알려주도록 수정
  .idea/workspace.xml
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CommandDatabaseStatusInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/DeleteDatabaseInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/DeleteDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDatabaseStatusInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDeploymentStatusInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/event/UpdateDatabaseStatusEvent.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/kafka/DeleteEventProducer.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service
