Repository ttalkak/server: changes, and which Jenkins stages are due for each by the changed paths.
All: Test Deployment Service, Test Project Service, documentation, Build and Deploy Eureka Server, Build and Deploy Config Server, Build and Deploy Notification Server, Build and Deploy Gateway Service, Build and Deploy User Service, Build and Deploy Compute Service, Build and Deploy Deployment Service, Build and Deploy Project Service

Test Deployment Service:
                      steps {
                          script {
                              sh """
                              cd deployment-service
                              chmod +x gradlew
                              ./gradlew test
                              ./gradlew openapi3
  ...

Test Project Service:
                      steps {
                          script {
                              sh """
                              cd project-service
                              chmod +x gradlew
                              ./gradlew test
                              ./gradlew openapi3
  ...

documentation:
              steps {
                  sh """
                  # 기존 document-service 컨테이너 중지 및 삭제
                  docker ps -q --filter "name=document-service" | xargs -r docker stop
                  docker ps -aq --filter "name=document-service" | xargs -r docker rm
                  # API 문서 파일 복사
  ...

Build and Deploy Eureka Server:
                      steps {
                          script {
                              sh """
                              docker-compose -f docker-compose-prod.yml stop eureka-server || true
                              docker-compose -f docker-compose-prod.yml rm -f eureka-server || true
  ...

Build and Deploy Config Server:
                      steps {
                          script {
                              sh """
                              docker-compose -f docker-compose-prod.yml stop config-server || true
                              docker-compose -f docker-compose-prod.yml rm -f config-server || true
  ...

Build and Deploy Notification Server:
                      steps {
                          script {
                              sh """
                              docker-compose -f docker-compose-prod.yml stop notification-service || true
  ...

Build and Deploy Gateway Service:
                      steps {
                          script {
                              sh """
                              docker-compose -f docker-compose-prod.yml stop gateway-service || true
                              docker-compose -f docker-compose-prod.yml rm -f gateway-service || true
  ...

Build and Deploy User Service:
                      steps {
                          script {
                              sh """
                              docker-compose -f docker-compose-prod.yml stop user-service || true
                              docker-compose -f docker-compose-prod.yml rm -f user-service || true
  ...

Build and Deploy Compute Service:
                      steps {
                          script {
                              sh """
                              docker-compose -f docker-compose-prod.yml stop compute-service || true
                              docker-compose -f docker-compose-prod.yml rm -f compute-service || true
  ...

elasticsearch 조회 경로 변경
  gateway-service/src/main/resources/application.yml
  project-service/src/main/java/com/ttalkak/project/project/framework/web/ElasticSearchController.java
Due: Test Project Service, documentation, Build and Deploy Gateway Service, Build and Deploy Project Service

github action test
  .github/workflows/sync-action.yml
  .idea/workspace.xml
Due: none

github action test
  .github/workflows/sync-action.yml
Due: none

token change
  .github/workflows/sync-action.yml
  .idea/workspace.xml
Due: none

change token
  .github/workflows/sync-action.yml
  .idea/workspace.xml
Due: none

elasticsearch 조회 경로 변경
  project-service/src/main/java/com/ttalkak/project/project/framework/elasticsearchadpter/adapter/ProjectElasticAdapter.java
Due: Test Project Service, documentation, Build and Deploy Project Service

elasticsearch 조회
  project-service/src/main/java/com/ttalkak/project/project/framework/web/ElasticSearchController.java
  project-service/src/main/java/com/ttalkak/project/project/framework/web/request/SearchLogRequest.java
Due: Test Project Service, documentation, Build and Deploy Project Service

elasticsearch 조회
  project-service/src/main/java/com/ttalkak/project/project/framework/elasticsearchadpter/adapter/SearchResponseConverter.java
Due: Test Project Service, documentation, Build and Deploy Project Service

elasticsearch 모니터링 정보 기능 구현
  project-service/src/main/java/com/ttalkak/project/project/framework/elasticsearchadpter/adapter/SearchResponseConverter.java
  project-service/src/main/java/com/ttalkak/project/project/framework/web/response/MonitoringInfoResponse.java
Due: Test Project Service, documentation, Build and Deploy Project Service

github action
  .github/workflows/sync-action.yml
  .idea/workspace.xml
Due: none

프로젝트 로그 수정
  project-service/src/main/java/com/ttalkak/project/project/framework/kafka/DeleteTransactionConsumer.java
  project-service/src/main/java/com/ttalkak/project/project/framework/kafka/SagaRollBackDomainNameConsumer.java
Due: Test Project Service, documentation, Build and Deploy Project Service

fix : Jenkins
  .idea/workspace.xml
  Jenkinsfile
Due: none

fix :JenkinsFile
  Jenkinsfile
Due: none

fix : JenkinsFile
  Jenkinsfile
Due: none

Jenkins 환경설정 변경 - GITHUB_CREDENTIALS_ID
  .idea/workspace.xml
  Jenkinsfile
Due: none

Jenkins Rebuild
  Jenkinsfile
Due: none

Update Jenkinsfile
  Jenkinsfile
Due: none

Update Dockerfile
  deployment-service/Dockerfile
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

Jenkins Test
  .idea/workspace.xml
  project-service/src/test/java/com/ttalkak/project/project/framework/web/ProjectControllerTest.java
Due: Test Project Service, documentation, Build and Deploy Project Service

Update Dockerfile
  compute-service/Dockerfile
Due: Build and Deploy Compute Service

webhook token path variable 수정
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/DeploymentWebHookController.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

webhook token 수정
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/DeploymentWebHookController.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

serialize 방식 수정
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/WebHookCommit.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/WebHookRepository.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/WebHookUser.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

서비스 타입으로 조회
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/jpaadapter/adapter/HostingAdapter.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/jpaadapter/repository/HostingRepository.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

서비스 타입으로 조회
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/WebHookDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/outputport/DeploymentOutputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/jpaadapter/adapter/DeploymentAdapter.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/jpaadapter/repository/DeploymentRepository.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

version 수정
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/WebHookDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/outputport/VersionOutputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/jpaadapter/adapter/VersionAdapter.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/jpaadapter/repository/VersionRepository.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

service 타입 수정
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/jpaadapter/adapter/HostingAdapter.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/jpaadapter/repository/HostingRepository.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

Path conditions:
  Test Deployment Service: any of: deployment-service/**
  Test Project Service: any of: project-service/**
  documentation: (any of: deployment-service/**) or (any of: project-service/**)
  Build and Deploy Eureka Server: any of: eureka-server/**
  Build and Deploy Config Server: any of: config-server/**
  Build and Deploy Notification Server: any of: notification-service/**
  Build and Deploy Gateway Service: any of: gateway-service/**
  Build and Deploy User Service: any of: user-service/**
  Build and Deploy Compute Service: any of: compute-service/**
  Build and Deploy Deployment Service: any of: deployment-service/**
  Build and Deploy Project Service: any of: project-service/**
