Repository ttalkak/server: changes, and which Jenkins stages are due for each by the changed paths.
All: Test User Service, Test Deployment Service, Test Project Service, documentation, Build and Deploy Eureka Server, Build and Deploy Config Server, Build and Deploy Notification Server, Build and Deploy Gateway Service, Build and Deploy User Service, Build and Deploy Compute Service, Build and Deploy Deployment Service, Build and Deploy Project Service

Path conditions:
  Test User Service: any of: user-service/**
  Test Deployment Service: any of: deployment-service/**
  Test Project Service: any of: project-service/**
  documentation: ((any of: deployment-service/**) or (any of: project-service/**)) or (any of: user-service/**)
  Build and Deploy Eureka Server: any of: eureka-server/**
  Build and Deploy Config Server: any of: config-server/**
  Build and Deploy Notification Server: any of: notification-service/**
  Build and Deploy Gateway Service: any of: gateway-service/**
  Build and Deploy User Service: any of: user-service/**
  Build and Deploy Compute Service: any of: compute-service/**
  Build and Deploy Deployment Service: any of: deployment-service/**
  Build and Deploy Project Service: any of: project-service/**

deployment 상태 변경
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/ComputeCreateSocketListener.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/in/AddComputeCommand.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/in/ComputeStatusUseCase.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/AllocateService.kt
Due: Build and Deploy Compute Service

삭제 로직 수정
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/repository/DeploymentCacheRepository.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/repository/RunningCacheRepository.kt
Due: Build and Deploy Compute Service

삭제 로ì로그 수정
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/repository/DeploymentCacheRepository.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/repository/RunningCacheRepository.kt
Due: Build and Deploy Compute Service

포트 수정
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/AllocateService.kt
Due: Build and Deploy Compute Service

fix : 삭제하는 경우 HostingEntity null인 경우 에러처리 로직 계층 변경, webhook 요청 시 Commit null인 경우 에러처리
  .idea/workspace.xml
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/DeleteDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/InquiryInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDeploymentStatusInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/WebHookDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/jpaadapter/adapter/HostingAdapter.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/DeploymentWebHookController.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

fix : webhookController commit 파라미터
  .idea/workspace.xml
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/DeploymentWebHookController.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

user validation 추가
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/AllocateService.kt
  user-service/src/main/java/com/ttalkak/user/user/adapter/in/web/request/SignUpRequest.java
Due: Test User Service, documentation, Build and Deploy User Service, Build and Deploy Compute Service

배포 포트 수정
  compute-service/src/main/resources/application.yml
  gateway-service/src/main/resources/application.yml
Due: Build and Deploy Gateway Service, Build and Deploy Compute Service

fix : DeleteDeploymentInputPort findHosting 처리
  .idea/workspace.xml
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/DeleteDeploymentInputPort.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

생성일시, 수정일시 반영
  deployment-service/src/main/java/com/ttalkak/deployment/common/BaseEntity.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

도커 파일 수정
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/AllocateService.kt
  docker-compose-prod.yml
Due: Build and Deploy Compute Service

도커 파일 포트 추가
  compute-service/Dockerfile.prod
  docker-compose-prod.yml
Due: Build and Deploy Compute Service

feat
  .idea/workspace.xml
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/DeleteDeploymentInputPort.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

데이터베이스 포트 수정
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/ComputeCreateSocketListener.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/Database.kt
Due: Build and Deploy Compute Service

feat : DatabaseEvent - port 제거
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDeploymentStatusInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/WebHookDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/event/DatabaseEvent.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

호스팅 null 리턴 반영
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/DeleteDeploymentInputPort.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

호스팅 null 리턴 반영
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/DeleteDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDeploymentStatusInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/DeploymentController.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

fix : DetailSubDomain을 반환하도록 수정
  .idea/workspace.xml
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDeploymentInputPort.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

파일 생성 시 추가
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/ComputeCreateSocketListener.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/AllocateService.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/DockerContainer.kt
Due: Build and Deploy Compute Service

호스팅 null 리턴 반영
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/DeleteDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/InquiryInputPort.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

할당 로직 수정
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/ComputeUpdateSocketListener.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/KafkaComputeListener.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/ComputeAllocateCachePersistence.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/entity/ComputeAllocateCache.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/in/AllocateUseCase.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/out/CreateAllocatePort.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/AllocateService.kt
Due: Build and Deploy Compute Service

호스팅 null 리턴 반영
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/InquiryInputPort.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

DB í포트 추가
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/AllocateService.kt
Due: Build and Deploy Compute Service

수정
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/ComputeCreateSocketListener.kt
Due: Build and Deploy Compute Service

contract 서버 수정
  contract-service/prisma/schema.prisma
Due: none

contract export port 수정
  docker-compose-prod.yml
Due: none

contract export port 수정
  contract-service/src/payment/web3.module.ts
Due: none

contract 포트 설정
  contract-service/src/payment/payment.service.ts
  docker-compose-prod.yml
Due: none

prod 실행 커맨드 수정
  contract-service/package.json
Due: none

gateway URI 수정
  gateway-service/src/main/resources/application.yml
Due: Build and Deploy Gateway Service

contract User 정보 반정규화 추가
  contract-service/prisma/schema.prisma
  contract-service/src/payment/payment.controller.ts
  contract-service/src/payment/payment.service.ts
Due: none

JWT 가드 추가
  contract-service/src/payment/payment.controller.ts
Due: none

fix : 배포 상세 조회 시 삭제하는 로직 삭제
  .idea/workspace.xml
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/InquiryInputPort.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

feat : 젠킨스 메타모스트 알림 추가
  .idea/workspace.xml
  Jenkinsfile
Due: none
