Repository ttalkak/server: changes, and which Jenkins stages are due for each by the changed paths.
All: Test User Service, Test Deployment Service, Test Project Service, documentation, Build and Deploy Eureka Server, Build and Deploy Config Server, Build and Deploy Notification Server, Build and Deploy Gateway Service, Build and Deploy User Service, Build and Deploy Compute Service, Build and Deploy Deployment Service, Build and Deploy Project Service

Test User Service:
                      steps {
                          script {
                              sh """
                              cd user-service
                              chmod +x gradlew
                              ./gradlew test
                              ./gradlew openapi3-security-schemes
  ...

Test Deployment Service:
                      steps {
                          script {
                              sh """
                              cd deployment-service
                              chmod +x gradlew
                              ./gradlew test
                              ./gradlew openapi3-security-schemes
  ...

Test Project Service:
                      steps {
                          script {
                              sh """
                              cd project-service
                              chmod +x gradlew
                              ./gradlew test
                              ./gradlew openapi3-security-schemes
  ...

documentation:
              steps {
                  sh """
                  docker ps -q --filter "name=document-service" | xargs -r docker stop
                  docker ps -aq --filter "name=document-service" | xargs -r docker rm
  ...

Build and Deploy Eureka Server:
                      steps {
                          script {
                              sh """
                              docker-compose -f docker-compose-prod.yml stop eureka-server || true
                              docker-compose -f docker-compose-prod.yml rm -f eureka-server || true
  ...

Build and Deploy Config Server:
                      steps {
                          script {
                              sh """
                              docker-compose -f docker-compose-prod.yml stop config-server || true
                              docker-compose -f docker-compose-prod.yml rm -f config-server || true
  ...

Build and Deploy Notification Server:
                      steps {
                          script {
                              sh """
                              docker-compose -f docker-compose-prod.yml stop notification-service || true
  ...

Build and Deploy Gateway Service:
                      steps {
                          script {
                              sh """
                              docker-compose -f docker-compose-prod.yml stop gateway-service || true
                              docker-compose -f docker-compose-prod.yml rm -f gateway-service || true
  ...

Build and Deploy User Service:
                      steps {
                          script {
                              sh """
                              docker-compose -f docker-compose-prod.yml stop user-service || true
                              docker-compose -f docker-compose-prod.yml rm -f user-service || true
  ...

시그니처 GET 방식 추가
  contract-service/src/payment/payment.controller.ts
  contract-service/src/payment/payment.service.ts
Due: none

컴퓨터 할당 로직 수정
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/ComputeUser.kt
Due: Build and Deploy Compute Service

수정
  contract-service/src/payment/payment.service.ts
Due: none

웹훅을 사용한 재할당 시 동일한 컴퓨터에 요청이 가도록 처리
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/AllocateService.kt
Due: Build and Deploy Compute Service

유저 생성 시 요청 처리
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/KafkaComputeListener.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/web/request/UpdateStatusRequest.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/persistence/StatusPersistenceAdapter.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/in/StatusCommand.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/out/SaveStatusPort.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/StatusService.kt
Due: Build and Deploy Compute Service

contract 코드 수정
  contract-service/src/main.ts
Due: none

할당 로직 수정
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/AllocateService.kt
Due: Build and Deploy Compute Service

feat : command(STOP, RESTART) 에 따른 처리
  .idea/workspace.xml
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CommandDatabaseStatusInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CommandDeploymentStatusInputPort.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

연결 끊어짐 처리 추가
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/ComputeCachePersistenceAdapter.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/repository/RunningCacheRepository.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/out/LoadRunningPort.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/ComputeService.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/ConnectService.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/ComputeInstance.kt
Due: Build and Deploy Compute Service

refactor : 도커 스크립트 생성 객체 분리
  .idea/workspace.xml
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDockerFileInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateHostingInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/CreateDockerfileUseCase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/HostingEntity.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/docker/BackendDockerfile.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/docker/BuildToolStrategy.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/docker/DockerfileTemplate.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/docker/FrontendDockerfile.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/docker/GradleBuildToolStrategy.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/docker/MavenBuildToolStrategy.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/docker/NpmStrategy.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/docker/PackageManagerStrategy.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/docker/YarnStrategy.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/vo/ServiceType.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/DeploymentCreateRequest.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

refactor : 도커파일 스크립트 생성 기능 전략패턴 도입
  .idea/workspace.xml
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDockerFileInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/docker/backend/BackendDockerfile.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/docker/backend/BuildToolStrategy.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/docker/backend/GradleBuildToolStrategy.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/docker/backend/MavenBuildToolStrategy.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/docker/frontend/BuildToolStrategy.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/docker/frontend/CraStrategy.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/docker/frontend/FrontendDockerfile.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/docker/frontend/NpmStrategy.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/docker/frontend/PackageManagerStrategy.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/docker/frontend/ViteStrategy.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/docker/frontend/YarnStrategy.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

merge
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/ComputeInstance.kt
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/docker/DockerfileTemplate.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/docker/backend/BackendDockerfile.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/docker/backend/BuildToolStrategy.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/docker/backend/GradleBuildToolStrategy.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/docker/backend/MavenBuildToolStrategy.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/docker/frontend/BuildToolStrategy.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/docker/frontend/CraStrategy.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/docker/frontend/FrontendDockerfile.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/docker/frontend/NpmStrategy.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/docker/frontend/PackageManagerStrategy.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/docker/frontend/ViteStrategy.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/docker/frontend/YarnStrategy.java
Due: Test Deployment Service, documentation, Build and Deploy Compute Service, Build and Deploy Deployment Service

roll back
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/DeploymentController.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

roll back
  Jenkinsfile
  deployment-service/Dockerfile
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

merge
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDockerFileInputPort.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

Favicon 입력 추가
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/event/UpdateFaviconEvent.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/kafka/ChangeProjectFaviconProducer.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/DeploymentCreateRequest.java
  deployment-service/src/main/resources/application.yml
  project-service/src/main/java/com/ttalkak/project/project/application/inputport/UpdateProjectInputPort.java
  project-service/src/main/java/com/ttalkak/project/project/application/usecase/UpdateProjectUseCase.java
  project-service/src/main/java/com/ttalkak/project/project/domain/event/FaviconEvent.java
  project-service/src/main/java/com/ttalkak/project/project/domain/model/ProjectEntity.java
  project-service/src/main/java/com/ttalkak/project/project/framework/kafka/ProjectFaviconConsumer.java
  project-service/src/main/java/com/ttalkak/project/project/framework/web/response/ProjectSearchResponse.java
  project-service/src/main/resources/application.yml
Due: Test Deployment Service, Test Project Service, documentation, Build and Deploy Deployment Service, Build and Deploy Project Service

feat : next 도커파일 추가
  .idea/workspace.xml
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDockerFileInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/CreateDockerfileUseCase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/DeploymentEntity.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/docker/frontend/BuildToolStrategy.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/docker/frontend/CraStrategy.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/docker/frontend/FrontendDockerfile.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/docker/frontend/ViteStrategy.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/docker/frontend/buildtool/BuildToolStrategy.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/docker/frontend/buildtool/CraStrategy.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/docker/frontend/buildtool/NextBuildToolStrategy.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/docker/frontend/buildtool/ViteStrategy.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/docker/frontend/packagemanager/NextPackageManagerStrategy.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/docker/frontend/packagemanager/NpmStrategy.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/docker/frontend/packagemanager/PackageManagerStrategy.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/docker/frontend/packagemanager/YarnStrategy.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

kafka ㅌㅗ픽 수정
  deployment-service/src/test/java/com/ttalkak/deployment/deployment/framework/web/DeploymentControllerTest.java
  project-service/src/main/java/com/ttalkak/project/project/framework/kafka/ProjectFaviconConsumer.java
Due: Test Deployment Service, Test Project Service, documentation, Build and Deploy Deployment Service, Build and Deploy Project Service

contract server 형식 변경
  contract-service/src/payment/payment.controller.ts
Due: none

contract server await 추가
  contract-service/src/payment/payment.controller.ts
  contract-service/src/payment/payment.service.ts
Due: none

contract server provider ㅅㅜ정
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/ComputeAllocateCachePersistence.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/ConnectCachePersistenceAdapter.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/out/SaveAllocatePort.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/out/SaveConnectPort.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/AllocateService.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/ConnectService.kt
  contract-service/.env.production
Due: Build and Deploy Compute Service

contract server 주소 수정
  contract-service/.env.production
  contract-service/contracts/build/contracts/PaymentContract.json
  contract-service/contracts/build/contracts/SourceCodeToken.json
  contract-service/src/payment/payment.service.ts
Due: none

contract server 주소 수정
  contract-service/src/contracts/PaymentContract.json
  contract-service/src/payment/payment.service.ts
Due: none

contract server 로그 수정
  contract-service/src/payment/payment.service.ts
Due: none

fix : next dockerfile Script
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/docker/frontend/FrontendDockerfile.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/docker/frontend/buildtool/BuildToolStrategy.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/docker/frontend/buildtool/CraStrategy.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/docker/frontend/buildtool/NextBuildToolStrategy.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/docker/frontend/buildtool/ViteStrategy.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/docker/frontend/packagemanager/NextPackageManagerStrategy.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

contract server 주소소 수정
  contract-service/.env.production
  contract-service/src/payment/payment.service.ts
Due: none

contract server 주소소 수정
  contract-service/src/payment/payment.service.ts
Due: none

fix : dockerfileScript 첫 이미지 참조변수 수정
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/docker/frontend/buildtool/NextBuildToolStrategy.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

결제 로직 수정
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/socket/ComputeSocketController.kt
  contract-service/contracts/build/contracts/ERC20.json
  contract-service/contracts/build/contracts/PaymentContract.json
  contract-service/contracts/contracts/PaymentContract.sol
  contract-service/contracts/migrations/2_deploy_nft.js
  contract-service/prisma/schema.prisma
  contract-service/src/contracts/Context.json
  contract-service/src/contracts/ERC165.json
  contract-service/src/contracts/ERC721.json
  contract-service/src/contracts/ERC721URIStorage.json
  contract-service/src/contracts/IERC1155Errors.json
  contract-service/src/contracts/IERC165.json
  contract-service/src/contracts/IERC20.json
  contract-service/src/contracts/IERC20Errors.json
  contract-service/src/contracts/IERC4906.json
  contract-service/src/contracts/IERC721.json
  contract-service/src/contracts/IERC721Errors.json
  contract-service/src/contracts/IERC721Metadata.json
  contract-service/src/contracts/IERC721Receiver.json
  contract-service/src/contracts/Math.json
  contract-service/src/contracts/SignedMath.json
  contract-service/src/contracts/SourceCodeToken.json
  contract-service/src/contracts/Strings.json
  contract-service/src/payment/payment.controller.ts
  contract-service/src/payment/payment.service.ts
Due: Build and Deploy Compute Service

domain 추가
  contract-service/src/payment/payment.controller.ts
  contract-service/src/payment/payment.service.ts
Due: none

private Key 입력 방식 upsert 수정
  contract-service/src/payment/payment.service.ts
Due: none

환경 변수 수정
  contract-service/.env.production
Due: none

결제 내역 추가
  contract-service/prisma/schema.prisma
  contract-service/src/payment/payment.controller.ts
  contract-service/src/payment/payment.service.ts
Due: none

노출 방식 수정
  contract-service/src/payment/payment.service.ts
Due: none

컴퓨터 할당 로직 수정
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/ComputeUpdateSocketListener.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/ComputeCachePersistenceAdapter.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/in/LoadRunningUseCase.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/out/LoadRunningPort.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/AllocateService.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/ComputeService.kt
Due: Build and Deploy Compute Service

컴퓨터 연결 끊어질 시 삭제 요청 처리 수정
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/ComputeService.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/ConnectService.kt
Due: Build and Deploy Compute Service

이메일 알림 수정
  notification-service/src/main/resources/templates/email/verify_member_mail.html
Due: Build and Deploy Notification Server

contract 서버 수정
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/InstanceCachePersistenceAdapter.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/repository/InstanceCacheRepository.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/out/LoadInstancePort.kt
  contract-service/src/payment/payment.controller.ts
  contract-service/src/payment/payment.service.ts
Due: Build and Deploy Compute Service

컴퓨터 연결 끊길 시 재 연결 로직 추가
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/InstanceCachePersistenceAdapter.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/repository/InstanceCacheRepository.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/out/SaveInstancePort.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/AllocateService.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/ComputeService.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/ConnectService.kt
  contract-service/contracts/contracts/PaymentContract.sol
Due: Build and Deploy Compute Service

Path conditions:
  Test User Service: any of: user-service/**
  Test Deployment Service: any of: deployment-service/**
  Test Project Service: any of: project-service/**
  documentation: ((any of: deployment-service/**) or (any of: project-service/**)) or (any of: user-service/**)
  Build and Deploy Eureka Server: any of: eureka-server/**
  Build and Deploy Config Server: any of: config-server/**
  Build and Deploy Notification Server: any of: notification-service/**
  Build and Deploy Gateway Service: any of: gateway-service/**
  Build and Deploy User Service: any of: user-service/**
  Build and Deploy Compute Service: any of: compute-service/**
  Build and Deploy Deployment Service: any of: deployment-service/**
  Build and Deploy Project Service: any of: project-service/**
