Repository ttalkak/server: changes, and which Jenkins stages are due for each by the changed paths.
All: Test User Service, Test Deployment Service, Test Project Service, documentation, Build and Deploy Eureka Server, Build and Deploy Config Server, Build and Deploy Notification Server, Build and Deploy Gateway Service, Build and Deploy User Service, Build and Deploy Compute Service, Build and Deploy Deployment Service, Build and Deploy Project Service

Test User Service:
                      steps {
                          script {
                              sh """
                              cd user-service
                              chmod +x gradlew
                              ./gradlew test
                              ./gradlew openapi3-security-schemes
  ...

Test Deployment Service:
                      steps {
                          script {
                              sh """
                              cd deployment-service
                              chmod +x gradlew
                              ./gradlew test
                              ./gradlew openapi3-security-schemes
  ...

Test Project Service:
                      steps {
                          script {
                              sh """
                              cd project-service
                              chmod +x gradlew
                              ./gradlew test
                              ./gradlew openapi3-security-schemes
  ...

documentation:
              steps {
                  sh """
                  docker ps -q --filter "name=document-service" | xargs -r docker stop
                  docker ps -aq --filter "name=document-service" | xargs -r docker rm
  ...

Build and Deploy Eureka Server:
                      steps {
                          script {
                              sh """
                              docker-compose -f docker-compose-prod.yml stop eureka-server || true
                              docker-compose -f docker-compose-prod.yml rm -f eureka-server || true
  ...

Build and Deploy Config Server:
                      steps {
                          script {
                              sh """
                              docker-compose -f docker-compose-prod.yml stop config-server || true
                              docker-compose -f docker-compose-prod.yml rm -f config-server || true
  ...

Build and Deploy Notification Server:
                      steps {
                          script {
                              sh """
                              docker-compose -f docker-compose-prod.yml stop notification-service || true
  ...

Build and Deploy Gateway Service:
                      steps {
                          script {
                              sh """
                              docker-compose -f docker-compose-prod.yml stop gateway-service || true
                              docker-compose -f docker-compose-prod.yml rm -f gateway-service || true
  ...

Build and Deploy User Service:
                      steps {
                          script {
                              sh """
                              docker-compose -f docker-compose-prod.yml stop user-service || true
                              docker-compose -f docker-compose-prod.yml rm -f user-service || true
  ...

로직 수정 완료
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/repository/ComputeAllocateCacheRepository.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/AllocateService.kt
Due: Build and Deploy Compute Service

현재 획득한 토큰 조회 API
  contract-service/src/payment/payment.controller.ts
  contract-service/src/payment/payment.service.ts
Due: none

refactor : 도커파일 관련 에러처리
  deployment-service/src/main/java/com/ttalkak/deployment/common/global/error/ErrorCode.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDockerFileInputPort.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

fix : 에러메시지 수정
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDockerFileInputPort.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

fix : packageManager, BuildTool Null인 경우 에러처리
  deployment-service/src/main/java/com/ttalkak/deployment/common/global/error/ErrorCode.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDockerFileInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/WebHookDeploymentInputPort.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

fix : 에러메시지 처리 완료
  deployment-service/src/main/java/com/ttalkak/deployment/common/global/error/ErrorCode.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CommandDeploymentStatusInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/DeleteDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDatabaseStatusInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDeploymentStatusInputPort.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

fix : 에러메시지 처리 상태값 상태메시지 의미 분리 :: 상태값 - 사용자에게 보여줄 메시지 || 상태메시지 - 개발자에게 보여줄 메시지
  deployment-service/src/main/java/com/ttalkak/deployment/common/global/error/ErrorCode.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDatabaseInputPort.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

refactor : 에러메시지 수정
  deployment-service/src/main/java/com/ttalkak/deployment/common/global/error/ErrorCode.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/kafka/ChangeDatabaseStatusProducer.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/kafka/ChangeDeploymentStatusProducer.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/kafka/ChangeProjectFaviconProducer.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/kafka/DeleteEventProducer.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/kafka/DeploymentKafkaProducer.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/kafka/SagaRollBackDomainNameProducer.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/kafka/SagaRollBackProducer.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

fix : 프로젝트서비스 에러메시지 수정
  project-service/src/main/java/com/ttalkak/project/common/error/ErrorCode.java
  project-service/src/main/java/com/ttalkak/project/project/framework/kafka/ProjectKafkaProducer.java
Due: Test Project Service, documentation, Build and Deploy Project Service

fix : Deployment ErrorCode 수정 - 401 404 구분
  deployment-service/src/main/java/com/ttalkak/deployment/common/global/error/ErrorCode.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

Update Dockerfile
  deployment-service/Dockerfile
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

Update Jenkinsfile
  Jenkinsfile
Due: none

Update Dockerfile
  project-service/Dockerfile
Due: Test Project Service, documentation, Build and Deploy Project Service

fix : Project 페이징 조회시 로그 확인
  .idea/workspace.xml
  project-service/src/main/java/com/ttalkak/project/project/application/inputport/GetProjectInputPort.java
Due: Test Project Service, documentation, Build and Deploy Project Service

toString
  project-service/src/main/java/com/ttalkak/project/project/domain/model/ProjectEntity.java
Due: Test Project Service, documentation, Build and Deploy Project Service

log test
  .idea/workspace.xml
  project-service/src/main/java/com/ttalkak/project/project/application/inputport/GetProjectInputPort.java
  project-service/src/main/java/com/ttalkak/project/project/domain/model/ProjectEntity.java
  project-service/src/main/java/com/ttalkak/project/project/framework/web/response/ProjectPageResponse.java
Due: Test Project Service, documentation, Build and Deploy Project Service

log : 생성 혹은 삭제 시 refetch에 따른 데이터베이스 무결성 체크
  project-service/src/main/java/com/ttalkak/project/project/application/inputport/CreateProjectInputPort.java
  project-service/src/main/java/com/ttalkak/project/project/application/outputport/LoadProjectOutputPort.java
  project-service/src/main/java/com/ttalkak/project/project/framework/jpaadapter/adapter/ProjectPersistenceAdapter.java
  project-service/src/main/java/com/ttalkak/project/project/framework/jpaadapter/repository/ProjectJpaRepository.java
  project-service/src/main/java/com/ttalkak/project/project/framework/web/ProjectController.java
Due: Test Project Service, documentation, Build and Deploy Project Service

ㅈㅗ회 로직 수정
  contract-service/src/payment/payment.service.ts
Due: none

Path conditions:
  Test User Service: any of: user-service/**
  Test Deployment Service: any of: deployment-service/**
  Test Project Service: any of: project-service/**
  documentation: ((any of: deployment-service/**) or (any of: project-service/**)) or (any of: user-service/**)
  Build and Deploy Eureka Server: any of: eureka-server/**
  Build and Deploy Config Server: any of: config-server/**
  Build and Deploy Notification Server: any of: notification-service/**
  Build and Deploy Gateway Service: any of: gateway-service/**
  Build and Deploy User Service: any of: user-service/**
  Build and Deploy Compute Service: any of: compute-service/**
  Build and Deploy Deployment Service: any of: deployment-service/**
  Build and Deploy Project Service: any of: project-service/**
