Repository ttalkak/server: changes, and which Jenkins stages are due for each by the changed paths.
All: Test Deployment Service, Test Project Service, documentation, Build and Deploy Eureka Server, Build and Deploy Config Server, Build and Deploy Notification Server, Build and Deploy Gateway Service, Build and Deploy User Service, Build and Deploy Compute Service, Build and Deploy Deployment Service, Build and Deploy Project Service

Test Deployment Service:
                      steps {
                          script {
                              sh """
                              cd deployment-service
                              chmod +x gradlew
                              ./gradlew test
                              ./gradlew openapi3
  ...

Test Project Service:
                      steps {
                          script {
                              sh """
                              cd project-service
                              chmod +x gradlew
                              ./gradlew test
                              ./gradlew openapi3
  ...

documentation:
              steps {
                  sh """
                  # 기존 document-service 컨테이너 중지 및 삭제
                  docker ps -q --filter "name=document-service" | xargs -r docker stop
                  docker ps -aq --filter "name=document-service" | xargs -r docker rm
                  # API 문서 파일 복사
  ...

Build and Deploy Eureka Server:
                      steps {
                          script {
                              sh """
                              docker-compose -f docker-compose-prod.yml stop eureka-server || true
                              docker-compose -f docker-compose-prod.yml rm -f eureka-server || true
  ...

Build and Deploy Config Server:
                      steps {
                          script {
                              sh """
                              docker-compose -f docker-compose-prod.yml stop config-server || true
                              docker-compose -f docker-compose-prod.yml rm -f config-server || true
  ...

Build and Deploy Notification Server:
                      steps {
                          script {
                              sh """
                              docker-compose -f docker-compose-prod.yml stop notification-service || true
  ...

Build and Deploy Gateway Service:
                      steps {
                          script {
                              sh """
                              docker-compose -f docker-compose-prod.yml stop gateway-service || true
                              docker-compose -f docker-compose-prod.yml rm -f gateway-service || true
  ...

Build and Deploy User Service:
                      steps {
                          script {
                              sh """
                              docker-compose -f docker-compose-prod.yml stop user-service || true
                              docker-compose -f docker-compose-prod.yml rm -f user-service || true
  ...

Build and Deploy Compute Service:
                      steps {
                          script {
                              sh """
                              docker-compose -f docker-compose-prod.yml stop compute-service || true
                              docker-compose -f docker-compose-prod.yml rm -f compute-service || true
  ...

github action test
  .github/workflows/sync-action.yml
Due: none

add gitAction filter
  .github/workflows/sync-action.yml
Due: none

subtree push -> push
  .github/workflows/sync-action.yml
Due: none

githubAction_add force
  .github/workflows/sync-action.yml
Due: none

fix : githubAction push -> subtree push로 변경
  .github/workflows/sync-action.yml
Due: none

fix : githubAction push -> subtree force push로 변경
  .github/workflows/sync-action.yml
Due: none

githubAction : .gitignore 파일 삭제
  .github/workflows/sync-action.yml
Due: none

githubAction : 깃랩 fetch 후 복사붙여넣기 로 구현
  .github/workflows/sync-action.yml
Due: none

github Action test
  .github/workflows/sync-action.yml
Due: none

github Action : subtree를 이용한 방식
  .github/workflows/sync-action.yml
Due: none

github Action 수정
  .github/workflows/sync-action.yml
Due: none

github action
  .github/workflows/sync-action.yml
Due: none

github action .github 삭제하고 gitlab에 푸시하도록 수정
  .github/workflows/sync-action.yml
Due: none

elasticsearch ai 모니터링 집계함수 기능 구현
  project-service/build.gradle
  project-service/src/main/java/com/ttalkak/project/config/AWSConfig.java
  project-service/src/main/java/com/ttalkak/project/project/application/inputport/GetElasticSearchInputPort.java
  project-service/src/main/java/com/ttalkak/project/project/application/outputport/LoadElasticSearchOutputPort.java
  project-service/src/main/java/com/ttalkak/project/project/application/usecase/GetElasticSearchUseCase.java
  project-service/src/main/java/com/ttalkak/project/project/framework/elasticsearchadpter/adapter/ProjectElasticAdapter.java
  project-service/src/main/java/com/ttalkak/project/project/framework/elasticsearchadpter/adapter/SearchResponseConverter.java
  project-service/src/main/java/com/ttalkak/project/project/framework/jpaadapter/adapter/ProjectPersistenceAdapter.java
  project-service/src/main/java/com/ttalkak/project/project/framework/web/ElasticSearchController.java
  project-service/src/main/java/com/ttalkak/project/project/framework/web/response/MonitoringInfoResponse.java
  project-service/src/main/resources/application.yml
Due: Test Project Service, documentation, Build and Deploy Project Service

elasticsearch ai 모니터링 집계함수 기능 구현
  project-service/src/main/java/com/ttalkak/project/project/application/inputport/GetElasticSearchInputPort.java
  project-service/src/main/java/com/ttalkak/project/project/application/outputport/LoadElasticSearchOutputPort.java
  project-service/src/main/java/com/ttalkak/project/project/application/usecase/GetElasticSearchUseCase.java
  project-service/src/main/java/com/ttalkak/project/project/framework/elasticsearchadpter/adapter/ProjectElasticAdapter.java
Due: Test Project Service, documentation, Build and Deploy Project Service

Update Dockerfile.prod
  project-service/Dockerfile.prod
Due: Test Project Service, documentation, Build and Deploy Project Service

Update Jenkinsfile
  Jenkinsfile
Due: none

Update Dockerfile
  project-service/Dockerfile
Due: Test Project Service, documentation, Build and Deploy Project Service

elasticsearch ai 모니터링 집계함수 기능 구현
  project-service/src/main/java/com/ttalkak/project/config/AWSConfig.java
  project-service/src/main/java/com/ttalkak/project/project/framework/elasticsearchadpter/adapter/ProjectElasticAdapter.java
  project-service/src/main/java/com/ttalkak/project/project/framework/web/request/SearchLogRequest.java
Due: Test Project Service, documentation, Build and Deploy Project Service

에러 로그 추가
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/kafka/DeleteEventConsumer.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

컴퓨터 서버 수정
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/socket/ComputeSocketController.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/socket/request/ComputeRunningRequest.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/ComputeCreateSocketListener.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/ComputeCachePersistenceAdapter.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/repository/ComputePortCacheRepository.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/in/AllocateCommand.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/in/AllocateUseCase.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/in/RunningCommand.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/out/LoadPortPort.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/out/SaveRunningPort.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/ComputeService.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/AllocateCompute.kt
Due: Build and Deploy Compute Service

메모리 내용 삭제
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/ComputeService.kt
Due: Build and Deploy Compute Service

로그 수정
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/ComputeService.kt
Due: Build and Deploy Compute Service

컴퓨터 서버 수정
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/ComputeCachePersistenceAdapter.kt
Due: Build and Deploy Compute Service

컴퓨터 서버
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/ComputeCachePersistenceAdapter.kt
Due: Build and Deploy Compute Service

컴퓨터 에러 수정:
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/ComputeCachePersistenceAdapter.kt
Due: Build and Deploy Compute Service

타입 ㅅ줭
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/repository/ComputePortCacheRepository.kt
Due: Build and Deploy Compute Service

fix : DeleteInputPort 수정
  deployment-service/src/main/java/com/ttalkak/deployment/common/BaseEntity.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/DeleteDeploymentInputPort.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

fix : DeleteInputPort 수정
  .idea/dataSources/f76c988a-a487-4a0c-abe3-004d5ecba508.xml
  .idea/dataSources/f76c988a-a487-4a0c-abe3-004d5ecba508/storage_v2/_src_/database/ttalkak.Sp_Oww/schema/public.abK9xQ.meta
  .idea/workspace.xml
  Jenkinsfile
Due: none

Update Dockerfile
  deployment-service/Dockerfile
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

elasticsearch ai 모니터링 집계함수 기능 구현
  project-service/src/main/java/com/ttalkak/project/project/framework/elasticsearchadpter/adapter/ProjectElasticAdapter.java
  project-service/src/main/java/com/ttalkak/project/project/framework/elasticsearchadpter/adapter/SearchResponseConverter.java
  project-service/src/main/java/com/ttalkak/project/project/framework/web/ElasticSearchController.java
  project-service/src/main/java/com/ttalkak/project/project/framework/web/response/MonitoringInfoResponse.java
Due: Test Project Service, documentation, Build and Deploy Project Service

Path conditions:
  Test Deployment Service: any of: deployment-service/**
  Test Project Service: any of: project-service/**
  documentation: (any of: deployment-service/**) or (any of: project-service/**)
  Build and Deploy Eureka Server: any of: eureka-server/**
  Build and Deploy Config Server: any of: config-server/**
  Build and Deploy Notification Server: any of: notification-service/**
  Build and Deploy Gateway Service: any of: gateway-service/**
  Build and Deploy User Service: any of: user-service/**
  Build and Deploy Compute Service: any of: compute-service/**
  Build and Deploy Deployment Service: any of: deployment-service/**
  Build and Deploy Project Service: any of: project-service/**
