Repository ttalkak/server: changes, and which Jenkins stages are due for each by the changed paths.
All: Test User Service, Test Deployment Service, Test Project Service, documentation, Build and Deploy Eureka Server, Build and Deploy Config Server, Build and Deploy Notification Server, Build and Deploy Gateway Service, Build and Deploy User Service, Build and Deploy Compute Service, Build and Deploy Deployment Service, Build and Deploy Project Service

Path conditions:
  Test User Service: any of: user-service/**
  Test Deployment Service: any of: deployment-service/**
  Test Project Service: any of: project-service/**
  documentation: ((any of: deployment-service/**) or (any of: project-service/**)) or (any of: user-service/**)
  Build and Deploy Eureka Server: any of: eureka-server/**
  Build and Deploy Config Server: any of: config-server/**
  Build and Deploy Notification Server: any of: notification-service/**
  Build and Deploy Gateway Service: any of: gateway-service/**
  Build and Deploy User Service: any of: user-service/**
  Build and Deploy Compute Service: any of: compute-service/**
  Build and Deploy Deployment Service: any of: deployment-service/**
  Build and Deploy Project Service: any of: project-service/**

Update Dockerfile
  config-server/Dockerfile
Due: Build and Deploy Config Server

fix : JenkinsFile update
  Jenkinsfile
Due: none

Jenkins update
  .idea/workspace.xml
  compute-service/Dockerfile
  deployment-service/Dockerfile
  gateway-service/Dockerfile
  notification-service/Dockerfile
  project-service/Dockerfile
  user-service/Dockerfile
Due: Test User Service, Test Deployment Service, Test Project Service, documentation, Build and Deploy Notification Server, Build and Deploy Gateway Service, Build and Deploy User Service, Build and Deploy Compute Service, Build and Deploy Deployment Service, Build and Deploy Project Service

배포 수정
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/ComputeService.kt
Due: Build and Deploy Compute Service

시간 캐스팅 에러 수정
  project-service/src/main/java/com/ttalkak/project/project/application/inputport/GetElasticSearchInputPort.java
  project-service/src/main/java/com/ttalkak/project/project/framework/elasticsearchadpter/adapter/ProjectElasticAdapter.java
Due: Test Project Service, documentation, Build and Deploy Project Service

시간 캐스팅 에러 수정
  project-service/src/main/java/com/ttalkak/project/project/framework/elasticsearchadpter/adapter/ProjectElasticAdapter.java
Due: Test Project Service, documentation, Build and Deploy Project Service

시간 캐스팅 에러 수정
  project-service/src/main/java/com/ttalkak/project/project/framework/redisadapter/adapter/RedisAdapter.java
Due: Test Project Service, documentation, Build and Deploy Project Service

fix : RUNNING
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDeploymentStatusInputPort.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

시간 캐스팅 에러 수정
  project-service/src/main/java/com/ttalkak/project/project/application/inputport/GetLLInputPort.java
  project-service/src/main/java/com/ttalkak/project/project/framework/redisadapter/adapter/RedisAdapter.java
Due: Test Project Service, documentation, Build and Deploy Project Service

fix : STOPPED 처리 수정
  .idea/workspace.xml
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDeploymentStatusInputPort.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

노티 서버ì 수정
  notification-service/src/main/kotlin/com/ttalkak/notification/notification/adapter/in/web/exception/CustomExceptionAdvice.kt
  notification-service/src/main/kotlin/com/ttalkak/notification/notification/domain/ApiResponse.kt
Due: Build and Deploy Notification Server

fix : Database 이름 반영하도록 수정
  .github/workflows/sonarqube.yml
  .github/workflows/sync-action.yml
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDeploymentInputPort.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

캐싱 키 값 변경
  project-service/src/main/java/com/ttalkak/project/project/application/inputport/GetLLInputPort.java
  project-service/src/main/java/com/ttalkak/project/project/application/outputport/LoadRedisMonitoringOutputPort.java
  project-service/src/main/java/com/ttalkak/project/project/application/usecase/GetLLMUseCase.java
  project-service/src/main/java/com/ttalkak/project/project/framework/redisadapter/adapter/RedisAdapter.java
  project-service/src/main/java/com/ttalkak/project/project/framework/web/ElasticSearchController.java
Due: Test Project Service, documentation, Build and Deploy Project Service

환경 변수 설정
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/ComputeCreateSocketListener.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/DatabaseContainer.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/DockerContainer.kt
Due: Build and Deploy Compute Service

fix : DeploymentStatus 개수, 반환 값 수정
  .idea/workspace.xml
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDeploymentStatusInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/DeploymentEntity.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/vo/DeploymentStatus.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/DeploymentUpdateStatusRequest.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/response/DeploymentDetailResponse.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/response/DeploymentPreviewResponse.java
  project-service/src/main/java/com/ttalkak/project/project/framework/deploymentadapter/dto/DeploymentResponse.java
Due: Test Deployment Service, Test Project Service, documentation, Build and Deploy Deployment Service, Build and Deploy Project Service

연결 끊어짐 처리 추가
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/ComputeCachePersistenceAdapter.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/DeploymentCachePersistenceAdapter.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/entity/DeploymentStatusCache.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/repository/ComputePortCacheRepository.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/repository/DeploymentCacheRepository.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/repository/RunningCacheRepository.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/out/RemoveDeploymentStatusPort.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/out/RemovePortPort.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/out/RemoveRunningPort.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/ComputeService.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/ConnectService.kt
Due: Build and Deploy Compute Service

fix
  .idea/workspace.xml
  deployment-service/Dockerfile
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

fix
  .idea/workspace.xml
  deployment-service/Dockerfile
  deployment-service/Dockerfile.prod
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

test : 테스트 수정
  .idea/workspace.xml
  deployment-service/Dockerfile.prod
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDeploymentStatusInputPort.java
  deployment-service/src/test/java/com/ttalkak/deployment/deployment/framework/web/DeploymentControllerTest.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

fix : ComputeService - ServiceType 데이터 추가
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/ComputeCreateSocketListener.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/DockerContainer.kt
Due: Build and Deploy Compute Service

message 데이터 수정
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/feign/request/DeploymentUpdateStatusRequest.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/ComputeService.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/ConnectService.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/RunningStatus.kt
Due: Build and Deploy Compute Service

feat : 에러 메시지를 반환하도록 수정
  .idea/workspace.xml
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/feign/request/DeploymentUpdateStatusRequest.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/ComputeService.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/Environment.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/RunningStatus.kt
Due: Build and Deploy Compute Service

refactor : 중복코드 변경
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDeploymentStatusInputPort.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

refactor : 상태메시지 업데이트
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDeploymentStatusInputPort.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

우선순위 큐 개발
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/ComputeAllocateCachePersistence.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/entity/ComputeAllocateCache.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/repository/ComputeAllocateCacheRepository.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/out/CreateAllocatePort.kt
Due: Build and Deploy Compute Service

fix : 프로젝트로 DeploymentEntity가 삭제 되는 경우의 발생하는 에러 수정
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/DeleteDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/exception/CustomControllerAdvice.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

test : Error 확인하기 위한 Rollback
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/DeleteDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/vo/DeploymentStatus.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

fix : Error 상황 처리
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/DeleteDeploymentInputPort.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

컴퓨터 할당 프로세스 수정
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/ComputeCreateSocketListener.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/ComputeAllocateCachePersistence.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/ComputeCachePersistenceAdapter.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/RedisLockCachePersistenceAdapter.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/repository/ComputeAllocateCacheRepository.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/repository/ComputePortCacheRepository.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/repository/RedisLockCacheRepository.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/in/AddComputeCommand.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/in/AllocateCommand.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/in/AllocateUseCase.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/out/LoadAllocatePort.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/out/LoadConnectPort.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/out/RedisLockPort.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/out/SavePortPort.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/AllocateService.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/ComputeService.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/ComputeUser.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/DockerContainer.kt
Due: Build and Deploy Compute Service

contract 서버 추가
  Jenkinsfile
  contract-service/.env.production
  contract-service/Dockerfile.prod
  contract-service/package.json
  contract-service/prisma/schema.prisma
  docker-compose-prod.yml
Due: none

contract 서버 수정
  contract-service/src/payment/payment.controller.ts
  gateway-service/src/main/resources/application.yml
Due: Build and Deploy Gateway Service

할당 로직 수정
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/ComputeCreateSocketListener.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/repository/ComputeAllocateCacheRepository.kt
Due: Build and Deploy Compute Service

컴퓨터 할당 수정
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/AllocateService.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/ComputeUser.kt
Due: Build and Deploy Compute Service

할당 후 pop 로직 추가
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/repository/ComputePortCacheRepository.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/AllocateService.kt
Due: Build and Deploy Compute Service

포트 할당 로직 수정
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/AllocateService.kt
Due: Build and Deploy Compute Service

ports 입력 추가
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/socket/ComputeSocketController.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/socket/request/ComputeStatusRequest.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/repository/ComputePortCacheRepository.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/in/ConnectCommand.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/ComputeService.kt
Due: Build and Deploy Compute Service

할당 가능한 포트 수정
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/repository/ComputePortCacheRepository.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/AllocateService.kt
Due: Build and Deploy Compute Service

상태 변경 수정
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/socket/ComputeSocketController.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/socket/request/ComputeConnectRequest.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/in/ComputeStatusUseCase.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/in/StatusUpdateCommand.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/ComputeService.kt
Due: Build and Deploy Compute Service
