Repository ttalkak/server: changes, and which Jenkins stages are due for each by the changed paths.
All: Test User Service, Test Deployment Service, Test Project Service, documentation, Build and Deploy Eureka Server, Build and Deploy Config Server, Build and Deploy Notification Server, Build and Deploy Gateway Service, Build and Deploy User Service, Build and Deploy Compute Service, Build and Deploy Deployment Service, Build and Deploy Project Service

Path conditions:
  Test User Service: any of: user-service/**
  Test Deployment Service: any of: deployment-service/**
  Test Project Service: any of: project-service/**
  documentation: ((any of: deployment-service/**) or (any of: project-service/**)) or (any of: user-service/**)
  Build and Deploy Eureka Server: any of: eureka-server/**
  Build and Deploy Config Server: any of: config-server/**
  Build and Deploy Notification Server: any of: notification-service/**
  Build and Deploy Gateway Service: any of: gateway-service/**
  Build and Deploy User Service: any of: user-service/**
  Build and Deploy Compute Service: any of: compute-service/**
  Build and Deploy Deployment Service: any of: deployment-service/**
  Build and Deploy Project Service: any of: project-service/**

Jenkins Test
  Jenkinsfile
Due: none

Jenkins
  Jenkinsfile
Due: none

젠킨스 server 코드 추가
  Jenkinsfile
Due: none

Update Jenkinsfile
  Jenkinsfile
Due: none

Jenkin test
  Jenkinsfile
Due: none

Jenkin update
  Jenkinsfile
Due: none

electron server subtree pull 추가
  Jenkinsfile
Due: none

add electron
  .idea/workspace.xml
  Jenkinsfile
Due: none

엘라스틱 페이징 변경 및 llm 기능 구현
  project-service/src/main/java/com/ttalkak/project/project/application/inputport/GetElasticSearchInputPort.java
  project-service/src/main/java/com/ttalkak/project/project/application/inputport/GetLLInputPort.java
  project-service/src/main/java/com/ttalkak/project/project/application/usecase/GetLLMUseCase.java
  project-service/src/main/java/com/ttalkak/project/project/framework/elasticsearchadpter/adapter/ProjectElasticAdapter.java
  project-service/src/main/java/com/ttalkak/project/project/framework/elasticsearchadpter/adapter/SearchResponseConverter.java
  project-service/src/main/java/com/ttalkak/project/project/framework/web/ElasticSearchController.java
  project-service/src/main/java/com/ttalkak/project/project/framework/web/response/AIMonitoringResponse.java
  project-service/src/main/java/com/ttalkak/project/project/framework/web/response/MonitoringInfoResponse.java
  project-service/src/main/resources/application.yml
Due: Test Project Service, documentation, Build and Deploy Project Service

엘라스틱 페이징 변경 및 llm 기능 구현
  project-service/src/main/resources/application.yml
Due: Test Project Service, documentation, Build and Deploy Project Service

Update EurekaServerApplication.kt
  eureka-server/src/main/kotlin/kr/kro/ddalkak/eureka/EurekaServerApplication.kt
Due: Build and Deploy Eureka Server

Update Dockerfile
  config-server/Dockerfile
Due: Build and Deploy Config Server

Update Dockerfile
  gateway-service/Dockerfile
Due: Build and Deploy Gateway Service

Jenkin Rebuild
  compute-service/Dockerfile
  deployment-service/Dockerfile
  notification-service/Dockerfile
  project-service/Dockerfile
  user-service/Dockerfile
Due: Test User Service, Test Deployment Service, Test Project Service, documentation, Build and Deploy Notification Server, Build and Deploy User Service, Build and Deploy Compute Service, Build and Deploy Deployment Service, Build and Deploy Project Service

feat : AI를 이용한 Dockerfile 생성
  deployment-service/build.gradle
  deployment-service/src/main/java/com/ttalkak/deployment/config/OpenAIFeignClient.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDockerFileInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/CreateDockerFileUsecase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/DeploymentController.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/DockerfileCreateRequest.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/response/DockerFileResponse.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

fix : test 코드에 의존성 추가
  deployment-service/src/main/java/com/ttalkak/deployment/config/OpenAIFeignClient.java
  deployment-service/src/test/java/com/ttalkak/deployment/deployment/framework/web/DeploymentControllerTest.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

엘라스틱 페이징 변경 및 llm 기능 구현
  project-service/build.gradle
  project-service/src/main/java/com/ttalkak/project/config/AWSConfig.java
  project-service/src/main/java/com/ttalkak/project/config/OpenAIConfig.java
  project-service/src/main/java/com/ttalkak/project/config/OpenAIFeignClient.java
  project-service/src/main/java/com/ttalkak/project/project/application/inputport/GetLLInputPort.java
  project-service/src/main/resources/application.yml
Due: Test Project Service, documentation, Build and Deploy Project Service

엘라스틱 페이징 변경 및 llm 기능 구현
  project-service/src/main/resources/application-dev.yml
Due: Test Project Service, documentation, Build and Deploy Project Service

엘라스틱 페이징 변경 및 llm 기능 구현
  project-service/src/main/java/com/ttalkak/project/project/framework/web/ElasticSearchController.java
Due: Test Project Service, documentation, Build and Deploy Project Service

deployment 코드 수정
  Jenkinsfile
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/ComputeUpdateSocketListener.kt
  contract-service/contracts/build/contracts/Context.json
  contract-service/contracts/build/contracts/IERC1155Errors.json
  contract-service/contracts/build/contracts/IERC20Errors.json
  contract-service/contracts/build/contracts/IERC721Errors.json
  contract-service/contracts/build/contracts/PaymentContract.json
  contract-service/contracts/contracts/PaymentContract.sol
  contract-service/contracts/migrations/1_deploy_contracts.js
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDeploymentInputPort.java
  deployment-service/src/test/java/com/ttalkak/deployment/deployment/framework/web/DeploymentControllerTest.java
Due: Test Deployment Service, documentation, Build and Deploy Compute Service, Build and Deploy Deployment Service

feat : 깃헙 정보 넘어오면 dockerfile 생성 해서 커밋하는 로직
  deployment-service/src/main/java/com/ttalkak/deployment/config/UserFeignClient.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/outputport/UserOutputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/useradapter/UserAdapter.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/useradapter/dto/UserInfoResponse.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

feat : 깃헙 정보 넘어오면 dockerfile 생성 해서 커밋하는 로직
  .idea/workspace.xml
  deployment-service/src/main/java/com/ttalkak/deployment/common/global/error/ErrorCode.java
  deployment-service/src/main/java/com/ttalkak/deployment/config/GithubFeignClient.java
  deployment-service/src/main/java/com/ttalkak/deployment/config/UserFeignClient.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDockerFileInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/outputport/GithubOutputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/outputport/UserOutputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/githubadpater/GithubAdapter.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/useradapter/UserAdapter.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/useradapter/dto/UserInfoResponse.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/CreateDockerFileUsecase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/DeploymentController.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/DockerfileCreateRequest.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

fix : HostingEntity 삭제에 대한 처리 ServiceType을 null로 만들어 처리
  .idea/workspace.xml
  deployment-service/.gitignore
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/DeleteDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/HostingEntity.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

fix : hostingEntity 삭제 기능
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/DeleteDeploymentInputPort.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

rebuild
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/DeleteDeploymentInputPort.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service
