Repository ttalkak/server: changes, and which Jenkins stages are due for each by the changed paths.
All: Test User Service, Test Deployment Service, Test Project Service, documentation, Build and Deploy Eureka Server, Build and Deploy Config Server, Build and Deploy Notification Server, Build and Deploy Gateway Service, Build and Deploy User Service, Build and Deploy Compute Service, Build and Deploy Deployment Service, Build and Deploy Project Service

Test User Service:
                      steps {
                          script {
                              sh """
                              cd user-service
                              chmod +x gradlew
                              ./gradlew test
                              ./gradlew openapi3-security-schemes
  ...

Test Deployment Service:
                      steps {
                          script {
                              sh """
                              cd deployment-service
                              chmod +x gradlew
                              ./gradlew test
                              ./gradlew openapi3-security-schemes
  ...

Test Project Service:
                      steps {
                          script {
                              sh """
                              cd project-service
                              chmod +x gradlew
                              ./gradlew test
                              ./gradlew openapi3-security-schemes
  ...

documentation:
              steps {
                  sh """
                  docker ps -q --filter "name=document-service" | xargs -r docker stop
                  docker ps -aq --filter "name=document-service" | xargs -r docker rm
  ...

Build and Deploy Eureka Server:
                      steps {
                          script {
                              sh """
                              docker-compose -f docker-compose-prod.yml stop eureka-server || true
                              docker-compose -f docker-compose-prod.yml rm -f eureka-server || true
  ...

Build and Deploy Config Server:
                      steps {
                          script {
                              sh """
                              docker-compose -f docker-compose-prod.yml stop config-server || true
                              docker-compose -f docker-compose-prod.yml rm -f config-server || true
  ...

Build and Deploy Notification Server:
                      steps {
                          script {
                              sh """
                              docker-compose -f docker-compose-prod.yml stop notification-service || true
  ...

Build and Deploy Gateway Service:
                      steps {
                          script {
                              sh """
                              docker-compose -f docker-compose-prod.yml stop gateway-service || true
                              docker-compose -f docker-compose-prod.yml rm -f gateway-service || true
  ...

Build and Deploy User Service:
                      steps {
                          script {
                              sh """
                              docker-compose -f docker-compose-prod.yml stop user-service || true
                              docker-compose -f docker-compose-prod.yml rm -f user-service || true
  ...

엘라스틱 페이징 변경 및 llm 기능 구현
  project-service/src/main/java/com/ttalkak/project/project/application/inputport/GetElasticSearchInputPort.java
  project-service/src/main/java/com/ttalkak/project/project/application/inputport/GetLLInputPort.java
  project-service/src/main/java/com/ttalkak/project/project/application/outputport/LoadElasticSearchOutputPort.java
  project-service/src/main/java/com/ttalkak/project/project/application/usecase/GetElasticSearchUseCase.java
  project-service/src/main/java/com/ttalkak/project/project/framework/elasticsearchadpter/adapter/ProjectElasticAdapter.java
  project-service/src/main/java/com/ttalkak/project/project/framework/elasticsearchadpter/adapter/SearchResponseConverter.java
  project-service/src/main/java/com/ttalkak/project/project/framework/web/ElasticSearchController.java
  project-service/src/main/java/com/ttalkak/project/project/framework/web/response/DashBoardResponse.java
  project-service/src/main/java/com/ttalkak/project/project/framework/web/response/LogHistogramResponse.java
  project-service/src/main/java/com/ttalkak/project/project/framework/web/response/LogPageResponse.java
  project-service/src/main/resources/application-dev.yml
Due: Test Project Service, documentation, Build and Deploy Project Service

compute 서비스 수정
  contract-service/contracts/build/contracts/Context.json
  contract-service/contracts/build/contracts/IERC1155Errors.json
  contract-service/contracts/build/contracts/IERC20Errors.json
  contract-service/contracts/build/contracts/IERC721Errors.json
  contract-service/contracts/build/contracts/PaymentContract.json
  contract-service/contracts/contracts/PaymentContract.sol
  contract-service/contracts/contracts/SourceCodeNFT.sol
  contract-service/src/payment/payment.service.ts
Due: none

feat : 앱에서 배포 상태 변경 기능(Dockerfile Error, allocate Error, Delete, Cloud_manipulate)
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/DeleteDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDeploymentStatusInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/vo/DeploymentStatus.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

fix : deploymentOutputPort saveAll -> save로 변경
  .idea/workspace.xml
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/DeleteDeploymentInputPort.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

컴퓨트 서버 수정
  compute-service/src/main/kotlin/com/ttalkak/compute/config/StompConfig.kt
Due: Build and Deploy Compute Service

feat : 도커 파일 스크립트 생성
  .idea/workspace.xml
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDockerFileInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDockerFileInputPortRegacy.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDeploymentStatusInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/WebHookDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/CreateDockerFileUsecaseRegacy.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/CreateDockerfileUseCase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/event/CreateInstanceEvent.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/DeploymentEntity.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/CreateDockerFileUsecase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/DeploymentController.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/DeploymentCreateRequest.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/DockerfileCreateRequest.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/DockerfileCreateRequestRegacy.java
  deployment-service/src/test/java/com/ttalkak/deployment/deployment/framework/web/DeploymentControllerTest.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

fix : WebHookDeploymentInputPort CreateInstance 생성자 파라미터 수정
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/WebHookDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/DeploymentCreateRequest.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

fix : WebhookDeploymentInputPort 파라미터 데이터 수정
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/WebHookDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/DeploymentEntity.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

sync : DeploymentService -> ComputeService 넘어가는 데이터 필드 동기화
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/ComputeCreateEvent.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/RunningStatus.kt
Due: Build and Deploy Compute Service

fix
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDockerFileInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/DeploymentCreateRequest.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

캐시 기능 구현 중
  project-service/build.gradle
  project-service/src/main/java/com/ttalkak/project/common/error/ErrorCode.java
  project-service/src/main/java/com/ttalkak/project/config/RedisConfig.java
  project-service/src/main/java/com/ttalkak/project/project/application/inputport/DeleteProjectInputPort.java
  project-service/src/main/java/com/ttalkak/project/project/application/inputport/GetElasticSearchInputPort.java
  project-service/src/main/java/com/ttalkak/project/project/application/inputport/GetLLInputPort.java
  project-service/src/main/java/com/ttalkak/project/project/application/inputport/GetProjectInputPort.java
  project-service/src/main/java/com/ttalkak/project/project/application/inputport/UpdateProjectInputPort.java
  project-service/src/main/java/com/ttalkak/project/project/application/outputport/LoadRedidMonitoringOutputPort.java
  project-service/src/main/java/com/ttalkak/project/project/application/usecase/DeleteProjectUseCase.java
  project-service/src/main/java/com/ttalkak/project/project/application/usecase/GetElasticSearchUseCase.java
  project-service/src/main/java/com/ttalkak/project/project/application/usecase/GetLLMUseCase.java
  project-service/src/main/java/com/ttalkak/project/project/application/usecase/GetProjectUseCase.java
  project-service/src/main/java/com/ttalkak/project/project/application/usecase/UpdateProjectUseCase.java
  project-service/src/main/java/com/ttalkak/project/project/framework/elasticsearchadpter/adapter/ProjectElasticAdapter.java
  project-service/src/main/java/com/ttalkak/project/project/framework/redisadapter/adapter/RedisAdapter.java
  project-service/src/main/java/com/ttalkak/project/project/framework/web/ElasticSearchController.java
  project-service/src/main/java/com/ttalkak/project/project/framework/web/ProjectController.java
  project-service/src/main/java/com/ttalkak/project/project/framework/web/response/DashBoardHistogramResponse.java
  project-service/src/test/java/com/ttalkak/project/project/framework/web/ProjectControllerTest.java
Due: Test Project Service, documentation, Build and Deploy Project Service

오타 수정
  project-service/src/main/java/com/ttalkak/project/project/application/inputport/GetElasticSearchInputPort.java
Due: Test Project Service, documentation, Build and Deploy Project Service

테스트 수정
  project-service/src/test/java/com/ttalkak/project/project/framework/web/ProjectControllerTest.java
Due: Test Project Service, documentation, Build and Deploy Project Service

테스트 수정
  project-service/src/main/java/com/ttalkak/project/project/application/inputport/GetProjectInputPort.java
Due: Test Project Service, documentation, Build and Deploy Project Service

fix : 배포 상태 업데이트 시 넘어가는 CreateInstance 파라미터 수정, 도커파일 상태에 따른 로직 조건 변경
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDeploymentStatusInputPort.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

fix : 파라미터 오류 수정
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDeploymentStatusInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/WebHookDeploymentInputPort.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

fix
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/DeploymentCreateRequest.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/DockerfileCreateRequest.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

Jenkins 주석 처리
  Jenkinsfile
Due: none

fix
  .idea/workspace.xml
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/DeploymentCreateRequest.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/DockerfileCreateRequest.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

fix
  .idea/workspace.xml
  deployment-service/build.gradle
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDeploymentInputPort.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

빌드 테스트
  project-service/gradle.properties
  project-service/src/main/java/com/ttalkak/project/config/RedisConfig.java
  project-service/src/main/java/com/ttalkak/project/project/application/inputport/GetElasticSearchInputPort.java
  project-service/src/main/java/com/ttalkak/project/project/application/inputport/GetLLInputPort.java
  project-service/src/main/java/com/ttalkak/project/project/application/outputport/LoadRedidMonitoringOutputPort.java
  project-service/src/main/java/com/ttalkak/project/project/domain/model/redis/Monitoring.java
  project-service/src/main/java/com/ttalkak/project/project/framework/redisadapter/adapter/RedisAdapter.java
Due: Test Project Service, documentation, Build and Deploy Project Service

배포 서버 배포
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/vo/DeploymentStatus.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

빌드 테스트
  project-service/src/main/java/com/ttalkak/project/project/application/inputport/GetElasticSearchInputPort.java
Due: Test Project Service, documentation, Build and Deploy Project Service

빌드 테스트
  project-service/Dockerfile
  project-service/gradle.properties
  project-service/src/main/java/com/ttalkak/project/project/application/inputport/GetLLInputPort.java
Due: Test Project Service, documentation, Build and Deploy Project Service

메모리 상태값 변경
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/socket/ComputeSocketController.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/socket/request/ComputeStatusRequest.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/ComputeCreateSocketListener.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/KafkaComputeListener.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/web/request/UpdateStatusRequest.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/ComputeCachePersistenceAdapter.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/entity/ComputeUserCache.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/in/AllocateCommand.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/in/ConnectCommand.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/in/StatusCommand.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/out/SaveComputePort.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/ComputeService.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/ComputeCreateEvent.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/ComputeUser.kt
  contract-service/contracts/build/contracts/PaymentContract.json
  contract-service/contracts/contracts/PaymentContract.sol
  contract-service/contracts/contracts/SourceCodeNFT.sol
Due: Build and Deploy Compute Service

database 속성 추가
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/ComputeCreateSocketListener.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/ComputeCreateEvent.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/Database.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/DatabaseContainer.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/DockerContainer.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/Environment.kt
Due: Build and Deploy Compute Service

fix : database 이름 추가
  .idea/workspace.xml
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDeploymentStatusInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/WebHookDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/event/DatabaseEvent.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/DatabaseEntity.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/DatabaseCreateRequest.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

fix
  .idea/workspace.xml
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDeploymentInputPort.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

캐싱 데이터 저장
  project-service/build.gradle
  project-service/gradle.properties
  project-service/src/main/java/com/ttalkak/project/config/RedisConfig.java
  project-service/src/main/java/com/ttalkak/project/project/application/inputport/GetLLInputPort.java
  project-service/src/main/java/com/ttalkak/project/project/application/outputport/LoadRedisMonitoringOutputPort.java
  project-service/src/main/java/com/ttalkak/project/project/framework/redisadapter/adapter/RedisAdapter.java
Due: Test Project Service, documentation, Build and Deploy Project Service

빌드 속도 개선 설정
  deployment-service/Dockerfile
  deployment-service/gradle.properties
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

status 코드 수정
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/persistence/entity/StatusMapper.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/UserStatus.kt
Due: Build and Deploy Compute Service

빌드 속도 개선 설정
  project-service/src/main/java/com/ttalkak/project/project/application/inputport/GetLLInputPort.java
Due: Test Project Service, documentation, Build and Deploy Project Service

할당 로직 수정
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/socket/SocketSubscribeEventListener.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/ComputeCreateSocketListener.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/ConnectCachePersistenceAdapter.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/repository/ConnectCacheRepository.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/in/ConnectUseCase.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/out/RemoveConnectPort.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/ConnectService.kt
  contract-service/contracts/truffle-config.js
Due: Build and Deploy Compute Service

disconnect 로직 추가
  compute-service/src/main/kotlin/com/ttalkak/compute/ComputeServiceApplication.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/ConnectCachePersistenceAdapter.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/repository/ConnectCacheRepository.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/in/DisconnectScheduleUseCase.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/out/LoadConnectPort.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/ConnectService.kt
Due: Build and Deploy Compute Service

연결 해제 로직 수정
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/out/LoadConnectPort.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/ConnectService.kt
Due: Build and Deploy Compute Service

Jenkins Rebuild
  Jenkinsfile
Due: none

Update Jenkinsfile
  Jenkinsfile
Due: none

Update Dockerfile
  eureka-server/Dockerfile
Due: Build and Deploy Eureka Server

Path conditions:
  Test User Service: any of: user-service/**
  Test Deployment Service: any of: deployment-service/**
  Test Project Service: any of: project-service/**
  documentation: ((any of: deployment-service/**) or (any of: project-service/**)) or (any of: user-service/**)
  Build and Deploy Eureka Server: any of: eureka-server/**
  Build and Deploy Config Server: any of: config-server/**
  Build and Deploy Notification Server: any of: notification-service/**
  Build and Deploy Gateway Service: any of: gateway-service/**
  Build and Deploy User Service: any of: user-service/**
  Build and Deploy Compute Service: any of: compute-service/**
  Build and Deploy Deployment Service: any of: deployment-service/**
  Build and Deploy Project Service: any of: project-service/**
