Repository ttalkak/server: changes, and which Jenkins stages are due for each by the changed paths.
All: Test User Service, Test Deployment Service, Test Project Service, documentation, Build and Deploy Eureka Server, Build and Deploy Config Server, Build and Deploy Notification Server, Build and Deploy Gateway Service, Build and Deploy User Service, Build and Deploy Compute Service, Build and Deploy Deployment Service, Build and Deploy Project Service

Test User Service:
                      steps {
                          script {
                              sh """
                              cd user-service
                              chmod +x gradlew
                              ./gradlew test
                              ./gradlew openapi3-security-schemes
  ...

Test Deployment Service:
                      steps {
                          script {
                              sh """
                              cd deployment-service
                              chmod +x gradlew
                              ./gradlew test
                              ./gradlew openapi3-security-schemes
  ...

Test Project Service:
                      steps {
                          script {
                              sh """
                              cd project-service
                              chmod +x gradlew
                              ./gradlew test
                              ./gradlew openapi3-security-schemes
  ...

documentation:
              steps {
                  sh """
                  docker ps -q --filter "name=document-service" | xargs -r docker stop
                  docker ps -aq --filter "name=document-service" | xargs -r docker rm
  ...

Build and Deploy Eureka Server:
                      steps {
                          script {
                              sh """
                              docker-compose -f docker-compose-prod.yml stop eureka-server || true
                              docker-compose -f docker-compose-prod.yml rm -f eureka-server || true
  ...

Build and Deploy Config Server:
                      steps {
                          script {
                              sh """
                              docker-compose -f docker-compose-prod.yml stop config-server || true
                              docker-compose -f docker-compose-prod.yml rm -f config-server || true
  ...

Build and Deploy Notification Server:
                      steps {
                          script {
                              sh """
                              docker-compose -f docker-compose-prod.yml stop notification-service || true
  ...

Build and Deploy Gateway Service:
                      steps {
                          script {
                              sh """
                              docker-compose -f docker-compose-prod.yml stop gateway-service || true
                              docker-compose -f docker-compose-prod.yml rm -f gateway-service || true
  ...

Build and Deploy User Service:
                      steps {
                          script {
                              sh """
                              docker-compose -f docker-compose-prod.yml stop user-service || true
                              docker-compose -f docker-compose-prod.yml rm -f user-service || true
  ...

fix : HostingEntity가 삭제 되었을 때 조회할 수 있도록 수정
  .idea/workspace.xml
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/InquiryInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/response/DeploymentDetailResponse.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

Jenkinsfile 수정
  .idea/workspace.xml
  Jenkinsfile
Due: none

feat
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/response/DeploymentDetailResponse.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

fix
  .idea/workspace.xml
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/DeleteDeploymentInputPort.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

DB 의존성 분리
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/ComputeCreateSocketListener.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/ComputeUpdateSocketListener.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/ComputeAllocateCachePersistence.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/entity/ComputeAllocateCache.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/in/AddComputeCommand.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/out/CreateAllocatePort.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/AllocateService.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/ComputeCreateEvent.kt
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDeploymentStatusInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/WebHookDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/event/CreateInstanceEvent.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/DeploymentCreateRequest.java
  deployment-service/src/test/java/com/ttalkak/deployment/deployment/framework/web/DeploymentControllerTest.java
Due: Test Deployment Service, documentation, Build and Deploy Compute Service, Build and Deploy Deployment Service

[FEAT] 데이터베이스 의존성 제거
  compute-service/src/main/kotlin/com/ttalkak/compute/common/util/Json.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/ComputeCreateSocketListener.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/ComputeUpdateSocketListener.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/DatabaseCreateSocketListener.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/KafkaComputeListener.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/ComputeAllocateCachePersistence.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/entity/ComputeAllocateCache.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/repository/ComputeAllocateCacheRepository.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/in/AddComputeCommand.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/out/CreateAllocatePort.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/AllocateService.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/ComputeUser.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/Database.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/DatabaseCreateEvent.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/DockerDatabaseContainer.kt
Due: Build and Deploy Compute Service

feat : DatabaseEntity 생성
  .idea/workspace.xml
  Jenkinsfile
  deployment-service/src/main/java/com/ttalkak/deployment/config/DomainFeignClient.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDatabaseInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateHostingInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/outputport/DomainOutputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/outputport/EventOutputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/CreateDatabaseUsecase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/event/CreateDatabaseEvent.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/DatabaseEntity.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/DeploymentEntity.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/domainadapter/DomainAdapterPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/domainadapter/dto/DatabaseDomainKeyRequest.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/domainadapter/dto/DatabaseDomainKeyResponse.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/domainadapter/dto/WebDomainKeyResponse.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/domainadapter/dto/WebDomainRequest.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/kafka/DeploymentKafkaProducer.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/DeploymentController.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/DatabaseCreateRequest.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/response/DatabaseResponse.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

토픽 변경
  compute-service/src/main/kotlin/com/ttalkak/compute/common/util/Json.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/KafkaComputeListener.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/repository/ComputeAllocateCacheRepository.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/Database.kt
Due: Build and Deploy Compute Service

수정
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/KafkaComputeListener.kt
Due: Build and Deploy Compute Service

토픽 연결 수정
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/KafkaComputeListener.kt
Due: Build and Deploy Compute Service

feat : DatabaseEntity 전체조회, 상세조회
  .idea/workspace.xml
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/InquiryInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/outputport/DatabaseOutputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/InquiryUsecase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/jpaadapter/adapter/DatabaseAdapter.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/jpaadapter/repository/DatabaseRepository.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/kafka/DeploymentKafkaProducer.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/DeploymentController.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/response/DeploymentDetailResponse.java
  deployment-service/src/main/resources/application.yml
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

feat : 데이터베이스 삭제
  deployment-service/src/main/java/com/ttalkak/deployment/common/global/error/ErrorCode.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/DeleteDatabaseInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/outputport/DatabaseOutputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/CreateDatabaseUsecase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/DeleteDatabaseUsecase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/jpaadapter/adapter/DatabaseAdapter.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/jpaadapter/repository/DatabaseRepository.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/DeploymentController.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

refactor : Usecase 애노테이션 추가
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/CommandDeploymentStatusUsecase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/CreateDatabaseUsecase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/CreateDeploymentUsecase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/CreateDockerFileUsecaseRegacy.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/DeleteDatabaseUsecase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/DeleteDeploymentUsecase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/InquiryUsecase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/UpdateDeploymentStatusUsecase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/UpdateDeploymentUsecase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/UpdateHostingUsecase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/WebHookDeploymentUsecase.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

fix : Database delete 삭제
  .idea/workspace.xml
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/InquiryInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/jpaadapter/adapter/DatabaseAdapter.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

refactor : Usecase -> UseCase로 이름 변경
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CommandDeploymentStatusInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDatabaseInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDockerFileInputPortRegacy.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/DeleteDatabaseInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/DeleteDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/InquiryInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDeploymentStatusInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateHostingInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/WebHookDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/CommandDeploymentStatusUseCase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/CreateDatabaseUseCase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/CreateDeploymentUseCase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/CreateDockerFileUseCaseRegacy.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/DeleteDatabaseUseCase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/DeleteDeploymentUseCase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/UpdateDeploymentStatusUseCase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/UpdateDeploymentUseCase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/UpdateHostingUseCase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/WebHookDeploymentUseCase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/inquiryUseCase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/kafka/ChangeStatusConsumer.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/kafka/HostingEventConsumer.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/DeploymentController.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/DeploymentFeignController.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/DeploymentWebHookController.java
  deployment-service/src/test/java/com/ttalkak/deployment/deployment/framework/web/DeploymentControllerTest.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

포트 수정
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/DatabaseCreateSocketListener.kt
Due: Build and Deploy Compute Service

데이터베이스 할당 수정
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/AllocateService.kt
Due: Build and Deploy Compute Service

Update Dockerfile
  deployment-service/Dockerfile
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

fix : 데이터베이스 삭제 DomainServer에 요청하도록 수정
  .idea/workspace.xml
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/DeleteDatabaseInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/outputport/DomainOutputPort.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

fix : DatabaseRepository @Query 메서드 파라미터 변경
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/jpaadapter/repository/DatabaseRepository.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

fix : 순환참조 문제 해결
  .idea/workspace.xml
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/jpaadapter/adapter/DatabaseAdapter.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

deserialize 숮어
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/socket/ComputeSocketController.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/socket/request/ComputeRunningRequest.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/feign/request/DeploymentUpdateStatusRequest.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/in/RunningCommand.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/in/UpsertRunningUseCase.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/AllocateService.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/ComputeService.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/DockerContainer.kt
Due: Build and Deploy Compute Service

feat
  .idea/workspace.xml
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/DeploymentController.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

컨테이너 수정
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/repository/ComputeAllocateCacheRepository.kt
Due: Build and Deploy Compute Service

fix : Usecase 애노테이션 삭졔
  .idea/workspace.xml
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/CommandDeploymentStatusUseCase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/CreateDatabaseUseCase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/CreateDeploymentUseCase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/CreateDockerFileUseCaseRegacy.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/CreateDockerfileUseCase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/DeleteDatabaseUseCase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/DeleteDeploymentUseCase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/UpdateDeploymentStatusUseCase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/UpdateDeploymentUseCase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/UpdateHostingUseCase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/WebHookDeploymentUseCase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/inquiryUseCase.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

도커 이미지 추가
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/ComputeCreateSocketListener.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/ComputeUpdateSocketListener.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/DockerContainer.kt
Due: Build and Deploy Compute Service

deseialize 에러 수정
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/ComputeCreateSocketListener.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/ComputeUpdateSocketListener.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/KafkaComputeListener.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/DockerContainer.kt
Due: Build and Deploy Compute Service

fix : Port 타입 변경
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDatabaseInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/domainadapter/dto/DatabaseDomainKeyResponse.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

fix : Database Port 수정
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDatabaseInputPort.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

fix : Response data 수정
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDatabaseInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/response/DatabaseResponse.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

deserialize 로직 제거
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/repository/ComputeAllocateCacheRepository.kt
Due: Build and Deploy Compute Service

fix : 데이터베이스 kafka 전달 값 수정
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDatabaseInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/event/CreateDatabaseEvent.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/event/DatabaseEvent.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/kafka/DeploymentKafkaProducer.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

데이터 추가
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/repository/ComputeAllocateCacheRepository.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/AllocateService.kt
Due: Build and Deploy Compute Service

인스탄스 직렬화 추가
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/repository/ComputeAllocateCacheRepository.kt
Due: Build and Deploy Compute Service

직렬화 과정 수정
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/entity/ComputeAllocateCache.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/repository/ComputeAllocateCacheRepository.kt
Due: Build and Deploy Compute Service

롤백 로직
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/repository/ComputeAllocateCacheRepository.kt
Due: Build and Deploy Compute Service

feat : Database 전체조회 -> 페이징 조회로 변경
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/InquiryInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/outputport/DatabaseOutputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/inquiryUseCase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/jpaadapter/adapter/DatabaseAdapter.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/jpaadapter/repository/DatabaseRepository.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/DeploymentController.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/response/DatabasePageResponse.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

feat : DatabaseEntity BaseEntity 상속
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/DatabaseEntity.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

Path conditions:
  Test User Service: any of: user-service/**
  Test Deployment Service: any of: deployment-service/**
  Test Project Service: any of: project-service/**
  documentation: ((any of: deployment-service/**) or (any of: project-service/**)) or (any of: user-service/**)
  Build and Deploy Eureka Server: any of: eureka-server/**
  Build and Deploy Config Server: any of: config-server/**
  Build and Deploy Notification Server: any of: notification-service/**
  Build and Deploy Gateway Service: any of: gateway-service/**
  Build and Deploy User Service: any of: user-service/**
  Build and Deploy Compute Service: any of: compute-service/**
  Build and Deploy Deployment Service: any of: deployment-service/**
  Build and Deploy Project Service: any of: project-service/**
